<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/instructor/insert_instructor.css">
        <h3 id="h-tree">등록할 강사의 정보를 입력해주세요</h3>
        <form action="/instructor/adminInsertInstructor" method="post" enctype="multipart/form-data" id="form">
            <div id="wrap_box">
                <div class="row insert_left">
                    <div class="col">
                        <div class="row mb-3">
                            <div class="col-12">이름</div>
                            <div class="col-8">
                                <input class="form-control" type="text" name="instructorName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">나이</div>
                        <div class="col-8">
                            <input class="form-control" type="text" name="instructorAge">
                        </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">성별</div>
                            <div class="col-8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="instructorGender" value="남자">
                                    <label class="form-check-label" for="inlineRadio1">남자</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="instructorGender" value="여자">
                                    <label class="form-check-label" for="inlineRadio2">여자</label>
                                  </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">과목</div>
                            <div class="col-8">
                                <select class="form-select"  name="lectureEventCode">
                                    <th:block th:each="lectureEvent : ${lectureEventList}">
                                        <option th:value="${lectureEvent.lectureEventCode}">[[${lectureEvent.lectureEventName}]]</option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">연락처</div>
                            <div class="col-2">
                                <select class="form-select"  name="instructorPhones">
                                    <option value="010">010</option>
                                    <option value="011">011</option>
                                    <option value="012">012</option>
                                    <option value="013">013</option>
                                </select>
                            </div>
                            <div class="col-3"><label><input class="form-control" type="text" name="instructorPhones"></label></div>
                            <div class="col-3"><label><input class="form-control" type="text" name="instructorPhones"></label></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">주소</div>
                            <div class="col-6"><input class="form-control" type="text" name="instructorAddrs" id="instructorAddr" onclick="openPost();" readonly></div>
                            <div class="col-2"><input class="btn btn-secondary" type="button" value="주소검색" onclick="openPost();"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">나머지 주소</div>
                            <div class="col-8"><input class="form-control" type="text" name="instructorAddrs"></div>
                        </div>
                    </div>
                </div>
                <div class="row insert_right">
                    <div class="wrap img">
                        <p>사진첨부</p>
                        <div onclick="file();" class="img-file">
                            <p><img class="file-img" src="/images/icons/plus.jpg" id="instructorImg"></p>
                            <input type="file" id="file" name="instructorImg" onchange="uploadImg(this);">
                            <div id="img-container"></div>
                        </div>
                    </div>
                    <div class="wrap button">
                        <input type="hidden" value="MENU_001" name="menuCode">
                        <p onclick="submitButton();">등록</p>
                    </div>  
                </div>
            </div>
        </form>
        <script src="/js/admin_insert_instructor_form.js"></script>
    </th:block>
</body>

</html>