<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/sub_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<h2>수업관리 페이지</h2>
<table>
    <thead>
        <tr>
            <td>강사</td>
            <td>강좌명</td>
            <td>수강과목</td>
            <td>정원</td>
            <td>기간</td>
            <td>수강료</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="lecture : ${lectureList}">
            <td>[[${lecture.instructorName}]]</td>
            <td>[[${lecture.lectureTitle}]]</td>
            <td>[[${lecture.lectureSubject}]]</td>
            <td>[[${lecture.lectureStudent}]]</td>
            <td>[[${lecture.lecturePeriod}]]</td>
            <td>[[${lecture.lecturePrice}]]</td>
            <td><input type="submit" value="상세" th:onclick="|location.href='@{/lecture/selectLectureDetail(lectureCode=${lecture.lectureCode})}'|"></td>
            <td><input type="submit" value="삭제" th:onclick="deleteLecture([[${lecture.lectureCode}]]);"></td>
        </tr>
    </tbody>
</table>
<script src="/js/manage_lecture.js"></script>
</th:block>
</body>
</html>