<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/sub_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<h2>관리자용 강좌 종목 생성 페이지</h2>
<form action="/lecture/adminInsertLectureEvent" method="post" enctype="multipart/form-data">
    <div>
        <p>강좌 종목 이름</p>
        <span><input type="text" name="lectureEventName"></span>
    </div>
    <div>
        <p>강좌 내용</p>
        <textarea name="lectureEventContent" cols="20" rows="5"></textarea>
    </div>
    <div>
        <p>강좌 종목 이미지</p>
        <span><input type="file" name="lectureEventImg"></span>
    </div>
    <input type="submit" value="생성">
</form>
</th:block>
</body>
</html>