<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/instructor/admin_instructor_list.css">
<h2>관리자 강사 목록 페이지</h2>
<div>
    <div class="admin-instructor-list-box" th:each="instructor : ${instructorList}" th:onclick="|location.href='@{/instructor/adminInstructorDetail(instructorCode=${instructor.instructorCode}, menuCode=MENU_001)}'|">
    <div class="admin-instructor-list-box-img">
        <p><img th:src="${'/images/instructor/' + instructor.instructorImgVO.instructorAttachedFileName}"></p>
    </div>
    <div>
        <p>
            <span>이름 : </span><span>[[${instructor.instructorName}]] </span>
            <span>나이 : </span><span> [[${instructor.instructorAge}]] </span>
            <span>성별 : </span><span>[[${instructor.instructorGender}]]</span> <br>
            <span>주소 : </span><span>[[${instructor.instructorAddr}]]</span>
        </p>
    </div>
    </div>

</div>
</th:block>
</body>
</html>