<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/admin_lecture_list.css">
<h2>수업관리 페이지</h2>
<div>
    <table class="table table-hover text-center align-center">
        <colgroup>
            <col width="30%">
            <col width="10%">
            <col width="10%">
            <col width="30%">
            <col width="10%">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody class="body-list">
            <tr th:each="lecture : ${lectureList}">
                <td class="title">
                    <p class="top">수업명</p>
                    <p class="bottom">[[${lecture.lectureTitle}]]</p>
                </td>
                <td class="event">
                    <p class="top">과목</p>
                    <p class="bottom">[[${lecture.lectureEventVO.lectureEventName}]]</p>
                </td>
                <td class="instructor">
                    <p><span class="top">강사</span><span class="edit-btn" th:onclick="editInstructor([[${lecture.lectureCode}]], this);">수정</span></p>
                    <p class="bottom">
                        <select name="instructorCode" id="instructor-box" class="form-select">
                            <th:block th:each="instructor : ${instructorList}">
                                <option th:value="${instructor.instructorCode}">[[${instructor.instructorName}]]</option>
                            </th:block>
                        </select>
                    </p>
                </td>
                <td class="period">
                    <p class="top-wrap"><span class="top">기간</span><span class="edit-btn" th:onclick="editPeriod([[${lecture.lectureCode}]], this);">수정</span></p><br>
                    <span class="start-date">시작일</span><span class="finish-date">종강일</span>
                    <p class="bottom">
                        <input type="date" class="form-control left period-input" th:value="${lecture.lecturePeriods[0]}" style="margin-right: 15px; margin-left: 18px;">
                        <input type="date" class="form-control right period-input" th:value="${lecture.lecturePeriods[1]}" th:onchange="dateCompare([[${lecture.lecturePeriods[1]}]], this);">
                    </p>
                </td>
                <td class="student">
                    <p><span class="top">정원</span><span class="edit-btn" th:onclick="editStudent([[${lecture.lectureCode}]], this);">수정</span></p>
                    <p class="bottom">
                        <input type="number" class="form-control student-input" th:value="${lecture.lectureStudent}">
                    </p>
                </td>
                <td class="price">
                    <p class="top">수강료</p>
                    <p class="img" th:onclick="deleteLecture([[${lecture.lectureCode}]]);"><img src="/images/icons/x_btn.png"></p>
                    <p class="bottom">[[${#numbers.formatCurrency(lecture.lecturePrice)}]]</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/admin/admin_lecture_list.js"></script>
</th:block>
</body>
</html>