<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/admin_lecture_list.css">
<h2>수업관리 페이지</h2>
<table>
    <thead>
        <tr>
            <td>강사</td>
            <td>강좌명</td>
            <td>수강과목</td>
            <td>정원</td>
            <td>기간</td>
            <td>수강료</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="lecture : ${lectureList}" th:onclick="|location.href='@{/lecture/adminSelectLectureDetail(lectureCode=${lecture.lectureCode}, menuCode='MENU_002')}'|" id="lectureList">
            <td>[[${lecture.instructorCode}]]</td>
            <td>[[${lecture.lectureTitle}]]</td>
            <td>[[${lecture.lectureEventCode}]]</td>
            <td>[[${lecture.lectureStudent}]]</td>
            <td>[[${lecture.lecturePeriod}]]</td>
            <td>[[${lecture.lecturePrice}]]</td>
        </tr>
    </tbody>
</table>
</th:block>
</body>
</html>