<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/instructor/admin_instructor_list.css">
        <h3>강사 목록 입니다</h3>
        <div>
            <table class="table table-hover text-center align-center">
                <colgroup>
                    <col width="6%">
                    <col width="8%">
                    <col width="5%">
                    <col width="5%">
                    <col width="8%">
                    <col width="21%">
                    <col width="*">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="phoneCap"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="body-list">
                    <tr th:each="instructor : ${instructorList}">
                        <td>
                            <img th:src="${'/images/instructor/' + instructor.instructorImgVO.instructorAttachedFileName}" id="instructor-img">
                        </td>
                        <td class="name">
                            <p class="top">이름</p>
                            <p class="bottom">[[${instructor.instructorName}]]</p>
                        </td>
                        <td class="age">
                            <p class="top">나이</p>
                            <p class="bottom">[[${instructor.instructorAge}]]</p>
                        </td>
                        <td class="gender">
                            <p class="top">성별</p>
                            <p class="bottom">[[${instructor.instructorGender}]]</p>
                        </td>
                        <td class="event">
                            <p class="top">담당과목</p>
                            <p class="bottom">[[${instructor.lectureEventVO.lectureEventName}]]</p>
                        </td>
                        <td class="phone">
                            <p><span class="phone-top">휴대폰</span><span class="phone-edit" th:onclick="editPhone([[${instructor.instructorCode}]], this);">수정</span></p>
                            <p class="bottom" style="display: flex;">
                                <select class="form-select phones" name="instructorPhones" style="width: 77px; font-weight: 600; font-size: 15px; color: #666; margin-right: 2px;">
                                    <option th:value="${instructor.instructorPhones[0]}">[[${instructor.instructorPhones[0]}]]</option>
                                    <option value="011">011</option>
                                    <option value="012">012</option>
                                    <option value="013">013</option>
                                </select>
                                <input class="form-control phones" type="text" th:value="${instructor.instructorPhones[1]}" style="width: 70px; text-align: center; color: #666; font-weight: 600; font-size: 15px; margin-left: 2px; margin-right: 2px;">
                                <input class="form-control phones" type="text" th:value="${instructor.instructorPhones[2]}" style="width: 70px; text-align: center; color: #666; font-weight: 600; font-size: 15px; margin-right: 2px; margin-left: 2px;">
                            </p>
                        </td>
                        <td class="addr">
                            <p><span class="addr-top">주소</span><span class="addr-edit" th:onclick="editAddr([[${instructor.instructorCode}]], this);">수정</span></p>
                            <div style="display: flex;">
                                <input class="form-control addrs openPost-addr" type="text" th:value="${instructor.instructorAddrs[0]}" style="font-size: 12px; font-weight: 600; margin-top: 0px; color: #666; line-height: 23px;" onclick="openPost(this);">
                                <input class="form-control addrs" type="text" th:value="${instructor.instructorAddrs[1]}" style="width: 80px; margin-top: 0px; font-size: 12px; font-weight: 600; color: #666; margin-left: 2px; line-height: 23px;">
                            </div>
                        </td>
                        <td class="date" style="position: relative;">
                            <p class="top">입사일</p>
                            <p class="bottom">[[${instructor.instructorJoinDate}]]</p>
                            <p th:onclick="deleteInstructor([[${instructor.instructorCode}]]);" class="x-btn" style="position: absolute; width: 20px; height: 20px; right: 0; top: -2px; cursor: pointer;"><img style="width: 100%; height: 100%;" src="/images/icons/x_btn.png"></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="/js/admin/admin_instructor_list.js"></script>
    </th:block>
</body>

</html>