<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/admin_lecture_event_list.css">
<h2>관리자용 강좌 종목 현황</h2>
<div>
    <div th:each="lectureEvent : ${lectureEventList}" class="box">
        <p class="event-img"><img th:src="${'/images/lectureEvent/' + lectureEvent.lectureEventImgVO.lectureEventAttachedFileName}"></p>
        <p>[[${lectureEvent.lectureEventName}]]</p>
        <p>[[${lectureEvent.lectureEventContent}]]</p>
    </div>
</div>
</th:block>
</body>
</html>