<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/instructor/admin_update_instructor_info_form.css">
<h1>관리자용 강사 정보 수정 페이지</h1>
<form action="/instructor/adminUpdateInstructorInfo" method="post" id="updateForm">
    <div class="instructor_info">
    <div>
    <p>이름 : <input type="text" th:value="${instructor.instructorName}" readonly></p>
    <p>나이 : <input type="text" th:value="${instructor.instructorAge}" readonly></p>
    <p>성별 : <input type="text" th:value="${instructor.instructorGender}" readonly></p>
    <p>연락처 : <input type="text" th:value="${instructor.instructorPhone}" name="instructorPhone"></p>
    <p>주소 : <input type="text" th:value="${instructor.instructorAddr}" name="instructorAddr"></p>
    <p>입사일 : <input type="text" th:value="${instructor.instructorJoinDate}" readonly></p>
    </div>
    <div class="instructor_info_img">
        <img th:src="${'/images/instructor/' + instructor.instructorImgVO.instructorAttachedFileName}">
    </div>
    </div>
    <input type="hidden" th:value="${instructor.instructorCode}" name="instructorCode">
    <input type="button" onclick="buttonSubmit();" value="저장">
  </form>
<script src="/js/admin/admin_update_instructor_info_form.js"></script>
</th:block>
</body>
</html>