<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/instructor/admin_instructor_detail.css">
<h2>강사 상세 페이지</h2>
<div class="instructor_info">
    <div>
        <p>이름 : [[${instructor.instructorName}]]</p>
        <p>나이 : [[${instructor.instructorAge}]]</p>
        <p>성별 : [[${instructor.instructorGender}]]</p>
        <P>담당과목 : [[${instructor.lectureEventCode}]]</P>
        <p>연락처 : [[${instructor.instructorPhone}]]</p>
        <p>주소 : [[${instructor.instructorAddr}]]</p>
        <p>입사일 : [[${instructor.instructorJoinDate}]]</p>
    </div>
    <div class="instructor_info_img">
        <img th:src="${'/images/instructor/' + instructor.instructorImgVO.instructorAttachedFileName}">
    </div>
</div>
<input type="button" value="수정" th:onclick="|location.href='@{/instructor/adminUpdateInstructorInfoForm(instructorCode=${instructor.instructorCode}, menuCode=MENU_001)}'|">
<input type="button" value="삭제" th:onclick="deleteButton([[${instructor.instructorCode}]]);">
<script src="/js/admin/admin_instructor_detail.js"></script>
</th:block>
</body>
</html>