<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/lecture/admin_insert_lecture_event_form.css">
<h3>새로운 강좌 종목 개설</h3>
<form action="/lecture/adminInsertLectureEvent" method="post" enctype="multipart/form-data" id="event-form">
    <div id="wrap_box">
        <div class="row">
            <div class="col">
                <div class="row event-name">
                    <div class="col-12 cap">강좌명</div>
                    <div class="col-10 mb-3">
                        <input class="form-control" type="text" name="lectureEventName">
                    </div>
                </div>
                <div class="row event-content">
                    <div class="col-12 cap">강좌내용</div>
                    <div class="col-10 mb-3">
                        <textarea class="form-control" name="lectureEventContent" cols="30" rows="7"></textarea>
                    </div>
                </div>
                <div class="row event-img">
                    <div class="col-12 cap">강좌이미지</div>
                    <div class="img-box" onclick="sendClick();">
                        <div class="col-12">
                            <input type="file" id="file-input-tag" name="lectureEventImg" onchange="showImg(this);">
                        </div>
                        <div class="col-6">
                            <img src="/images/icons/plus.jpg" id="uploadImg">
                        </div>
                    </div>
                    <div class="col-6">
                        <p id="submit-btn" onclick="submitBtn();">등록</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/js/admin_insert_lecture_event_form.js"></script>
</th:block>
</body>
</html>