<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/admin_lecture_event_list.css">
<h3>강좌 종목 현황</h3>
<div>
    <table class="table table-hover text-center align-center">
        <colgroup>
            <col width="15%">
            <col width="25%">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody class="body-list">
            <tr th:each="lectureEvent : ${lectureEventList}" th:onclick="|location.href='@{/lecture/adminLectureEventDetail(lectureEventCode=${lectureEvent.lectureEventCode}, menuCode='MENU_002')}'|">
                <td class="img">
                    <img th:src="${'/images/lectureEvent/' + lectureEvent.lectureEventImgVO.lectureEventAttachedFileName}">
                </td>
                <td class="name">
                    <div>
                    <p class="top">강좌명</p>
                    <p class="bottom">[[${lectureEvent.lectureEventName}]]</p>
                    </div>
                </td>
                <td class="content">
                    <p class="top">내용</p>
                    <p class="bottom">[[${lectureEvent.lectureEventContent}]]</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>








</th:block>
</body>
</html>