<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/sub_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<h2>강좌등록페이지</h2>
<form action="/lecture/insertLecture" method="post">
    <div>
        <p>
            강좌명 : 
            <input type="text" name="lectureTitle">
        </p>
        <p>
            수강과목 : 
            <select name="lectureSubject">
                <th:block th:each="subject : ${subjectList}">
                    <option th:value="${subject.subjectName}">[[${subject.subjectName}]]</option>
                </th:block>
            </select>
        </p>
        <p>
            강사 : 
            <select name="instructorCode">
                <th:block th:each="instructor : ${instructorList}">
                    <option th:value="${instructor.instructorCode}">[[${instructor.instructorName}]]</option>
                </th:block>
            </select>
        </p>
        <p>
            수강생 정원 : 
            <select name="lectureStudent">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </p>
        <p>수업기간 : <input type="date" name="lecturePeriod"> ~ <input type="date" name="lecturePeriod"></p>
        <p>수강료 : <input type="text" name="lecturePrice"></p>
        <p><input type="submit" value="등록!!"></p>
    </div>
</form>
</th:block>
</body>
</html>