<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<h1>강사등록페이지</h1>
<form action="" method="post">
    <div>
        <p>이 름 : <input type="text" name="instructorName"></p>
        <p>나 이 : <input type="text" name="instructorAge"></p>
        <p>
            성 별 : <input type="radio" value="남" name="instructorGender"> 남
                    <input type="radio" value="여" name="instructorGender"> 여
                </p>
        <p>과 목 : <input type="text" name="instructorMajor"></p>
        <p>연락처 : 
            <select name="instructorPhone" id="">
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="012">012</option>
            </select>
            <input type="text" name="instructorPhone">
            <input type="text" name="instructorPhone">
        </p>
        <p>주 소 : <input type="text" name="instructorAddr"><input type="text" name="instructorAddr"></p>
        <p><input type="submit" value="등록!!"></p>
    </div>
</form>
</th:block>
</body>
</html>