<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <th:block layout:fragment="content" id="block">
        <link rel="stylesheet" href="/css/instructor/insert_instructor.css">
        <h2>강사등록페이지</h2>
        <form action="/instructor/insertInstructor" method="post" enctype="multipart/form-data" id="form">
        <div class="wrap info">
            <div>
                <p>이름<p>
                <span><input type="text" name="instructorName"></span>
            </div>
            <div>
                <p>나이</p>
                <span><input type="text" name="instructorAge"></span>
            </div>
            <div class="box gender">
                <p>성별</p>
                <div>
                    <label><input type="radio" value="남자" name="instructorGender">남자</label>
                    <label><input type="radio" value="여자" name="instructorGender">여자</label>
                </div>
            </div>
            <div class="box tel">
                <p>연락처</p>
                <select name="instructorPhones">
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="012">012</option>
                    <option value="013">013</option>
                </select>
                <label><input type="text" name="instructorPhones"></label>
                <label><input type="text" name="instructorPhones"></label>
            </div>
            <div>
                <p>주소</p>
                <input type="text" name="instructorAddr" id="instructorAddr" onclick="openPost();" readonly>
                <input type="button" value="주소검색" onclick="openPost();"> <br><br>
                <p>나머지주소</p>
                <input type="text" name="instructorAddr"> 
            </div>
        </div>
        <div class="wrap img">
            <p>사진</p>
            <div onclick="file();" class="img-file">
                <p>클릭</p>
                <input type="file" id="file" name="instructorImg">
            </div>
        </div>
        <div class="wrap button">
            <p><input type="submit" value="등록"></p>
        </div>
        </form>
        <script src="/js/insert_instructor.js"></script>
    </th:block>
</body>

</html>