<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment ="content">
    <form action="/center/insertFacility" method="post" enctype="multipart/form-data">
        <h2>시설 등록</h2>
        <div class="row mb-3">
            <div class="col-3">시설 카테고리</div>
            <div class="col-5">
                <select name="centerCateCode" class="form-select">
                    <option th:each="centerCategory : ${centerCategoryList}" th:value="${centerCategory.centerCateCode}">[[${centerCategory.centerCateName}]]</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">시설명</div>
            <div class="col-5">
                <input class="form-control" type="text" name="facilityName">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">장소(층) 정보</div>
            <div class="col-5">
                <input class="form-control" type="text" name="facilityPlaceInfo">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">시설 설명</div>
            <div class="col-5">
                <textarea class="form-control" name="facilityContent" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">대관 가능 유무</div>
            <div class="col-5">
                <input class="form-check-input" type="radio" name="rentalAvailable" value="YES" checked> 가능
                <input class="form-check-input" type="radio" name="rentalAvailable" value="NO"> 불가
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">사진 파일 첨부 </div>
            <div class="col-5">
                <input class="form-control" type="file" id="formFile" name="facilityImg">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="submit" value="등록하기">
            </div>
        </div>
    </form>
</th:block>
</body>
</html>