<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<h1>강좌 상세페이지</h1>
    <div>
        <p>강좌명 : [[${lecture.lectureTitle}]]</p>
        <p>수강과목 : [[${lecture.lectureSubject}]]</p>
        <p>강사명 : [[${lecture.instructorName}]]</p>
        <p>강좌기간 : [[${lecture.lecturePeriod}]]</p>
        <p>정원 : [[${lecture.lectureStudent}]]</p>
        <p>수강료 : [[${lecture.lecturePrice}]]</p>
    </div>
    <div>
        <p><input type="button" value="수강신청" th:onclick="|location.href='@{/lecture/goLectureApplyForm(lectureCode=${lecture.lectureCode})}'|"></p>
        <p><input type="button" value="수강생목록" th:onclick="|location.href='@{/lecture/selectStudentList(lectureCode=${lecture.lectureCode})}'|"></p>
    </div>
</th:block>
</body>
</html>