<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<h1>강사관리 페이지</h1>
<table>
    <thead>
        <tr>
            <td>이름</td>
            <td>나이</td>
            <td>성별</td>
            <td>과목</td>
            <td>휴대폰</td>
            <td>주소</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="instructor : ${instructorList}">
            <td>[[${instructor.instructorName}]]</td>
            <td>[[${instructor.instructorAge}]]</td>
            <td>[[${instructor.instructorGender}]]</td>
            <td>[[${instructor.instructorMajor}]]</td>
            <td>[[${instructor.instructorPhone}]]</td>
            <td>[[${instructor.instructorAddr}]]</td>
        </tr>
    </tbody>
</table>
</th:block>
</body>
</html>