<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment ="content">
    <div class="row">
        <div class="col">
            <h2>시설 현황 관리</h2>
            <table>
                <tr>
                    <td>시설명</td>
                    <td>최대 강의 개수</td>
                    <td>대관 가능 유무</td>
                    <td>시설 사진</td>
                </tr>
            </table>
        </div>
    </div>
</th:block>
</body>
</html>