<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/sub_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/lecture/lecture_list.css">
    <div id="wrap">
        <div id="inner">
            <div class="event-box">
                <select class="form-select" style="width: 150px;" name="lectureEventCode" onchange="lectureList();" id="lecture-event-category">
                    <option value="">전체</option>
                    <th:block th:each="lectureEvent : ${lectureEventList}">
                        <option th:value="${lectureEvent.lectureEventCode}">[[${lectureEvent.lectureEventName}]]</option>
                    </th:block>
                </select>
            </div>
            <div id="lectureBlock">
                <input type="hidden" id="menuCode" name="menuCode" th:value="${subMenuVO.menuCode}">
            <th:block th:each="lecture : ${lectureList}">
                <div class="lecture-box">
                    <div class="title">
                        <p>
                            <span class="lecture-event-name">[[${lecture.lectureEventVO.lectureEventName}]]</span>
                        </p>
                        <p>
                            <span class="lecture-title" th:onclick="lectureDetail([[${lecture.lectureCode}]]);">[[${lecture.lectureTitle}]]</span>
                        </p>
                    </div>
                    <div class="instructor">
                        <p class="top"><span>강사</span></p>
                        <p class="bottom"><span class="instructor-name">[[${lecture.instructorVO.instructorName}]]</span></p>
                    </div>
                    <div class="price">
                        <p class="top"><span>가격</span></p>
                        <p class="bottom"><span class="lecture-price">[[${#numbers.formatCurrency(lecture.lecturePrice)}]]</span></p>
                    </div>
                    <div class="period">
                        <p class="top"><span>기간</span></p><br>
                        <span class="start-date">시작일</span><span class="finish-date">종강일</span>
                        <p class="bottom"><span class="lecture-period">[[${lecture.lecturePeriod}]]</span></p>
                    </div>
                </div>
            </th:block>
        </div>
        </div>
    </div>
    <script src="/js/lecture/lecture_list.js"></script>
</th:block>
</body>
</html>