<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<h1>수강생 목록 페이지</h1>
<div>
    <table>
        <thead>
            <tr>
                <td>수업코드</td>
                <td>아이디</td>
                <td>수강생코드</td>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="student : ${studentList}">
            <tr>
                <td>[[${student.lectureCode}]]</td>
                <td>[[${student.memberId}]]</td>
                <td>[[${student.studentCode}]]</td>
                <td><input type="button" value="삭제" th:onclick="deleteStudent([[${lectureInfo.lectureCode}]], [[${student.studentCode}]]);"></td>
            </tr>
            </th:block>
        </tbody>
    </table>
</div>
<script src="/js/lecture/student.js"></script>
</th:block>
</body>
</html>