<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/sub_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- 썸머노트 -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <h1>QnA게시판</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                글번호 : [[${board.qaBoardNum}]]
            </div>
            <div class="col">
                제목 : [[${board.qaBoardTitle}]]
            </div>
            <div class="col">
                작성자 : [[${board.qaBoardWriter}]]
            </div>
            <div class="col">
                작성일 : [[${board.qaCreateDate}]]
            </div>
            <div class="col">
                조회수 : [[${board.qaBoardReadCnt}]]
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- 섬머노트 p태그를 html에서 읽을 수 있도록-->
            <div class="col" th:utext="${board.qaBoardContent}"></div>
            <th:block th:each="qaImgVO, state : ${board.qaImgList}">
                <img width="auto" height="auto" th:src="${'/images/community/qa/' + qaImgVO.qaAttachedFileName}" alt="">
            </th:block>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <input type="button" class="btn btn-primary" value="목록으로" th:onclick="|location.href='@{/qa/qaBoardList(menuCode=${subMenuVO.menuCode})}'|">
        <!-- 로그인정보가 비어있지 않다면 버튼 보이게 -->
        <div sec:authorize="isAuthenticated()">
            <!-- 작성자가 같거나 관리자라면 -->
            <div class="btn-group" th:if="${#strings.contains(#authentication.authorities, 'ROLE_ADMIN') or board.qaBoardWriter == #authentication.name}">
                <input type="button" class="btn btn-primary" value="삭제" th:onclick="deleteboard([[${board.qaBoardNum}]])">
                <input type="button" class="btn btn-primary" value="수정" data-bs-target="#qaUpdateBoard" data-bs-toggle="modal">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="qaUpdateBoard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">수정할 내용을 입력해주세요.</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>          
                        <form action="/qa/updateQaBoard" method="post" id="qaUpdateBoardForm">
                            <input type="hidden" name="qaBoardNum" th:value="${board.qaBoardNum}">
                            <input type="hidden" name="menuCode" th:value="${subMenuVO.menuCode}">
                            <input type="hidden" name="qaCheckPwInput" th:value="${qaCheckPwInput}">
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="text" name="qaBoardTitle" id="qaBoardTitle" class="form-control" th:value="${board.qaBoardTitle}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <textarea rows="5" cols="50" name="qaBoardContent" id="qaBoardContent" class="form-control summernote s-note col" th:utext="${board.qaBoardContent}"></textarea>
                                    </div>
                                </div>
                                <!-- 이미지 이름 넣기 -->
                                <div>
                                    <th:block th:each="qaImgVO : ${board.qaImgList}">
                                        <span th:text="${qaImgVO.qaOriginFileName}"></span><br>
                                    </th:block>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row mb-3 error text-center">
                                    <div class="title-error-div">
                                        <!-- 에러 출력 -->
                                    </div>
                                </div>
                                <div class="row mb-3 error text-center">
                                    <div class="text-error-div">
                                        <!-- 에러 출력 -->
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" onclick="qaUpdateValidate()">수정하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1>댓글작성</h1>
    <div class="mb-3" id="qaRegDiv">
        <form action="/qa/qaBoardComment" method="post" id="commentForm">
            <input type="hidden" name="commentNum" th:value="${board.qaBoardNum}">
            <input type="hidden" name="commentWriter" th:value="${#authentication.name}">
            <input type="hidden" name="qaCheckPwInput" th:value="${qaCheckPwInput}">
            <div class="input-group">
                <input type="text" name="commentContent" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" th:onclick="qaRegComment(this, [[${#authentication.name}]]);">작성</button>
            </div>
        </form>
    </div>
    <hr>
    <table border="1" class="text-center col-12">
        <!-- 댓글이 존재하지 않을 때 -->
        <th:block th:if="${#lists.size(comment) == 0}">
            <tr>
                <td colspan="5">조회된 댓글이 없습니다</td>
            </tr>
        </th:block>
        <!-- 댓글이 존재 하면 -->
        <th:block th:if="${#lists.size(comment) != 0}" class="row">
            <div th:each="comment, state : ${comment}">
                <div class="row mb-2 justify-content-between">
                    <div class="col-3">[[${comment.commentWriter}]]</div>
                    <!-- 관리자 이거나, 작성자라면-->
                    <div class="dropdown col-2 text-end" sec:authorize="isAuthenticated()">
                        <div th:if="${#strings.contains(#authentication.authorities, 'ROLE_ADMIN') or board.qaBoardWriter == #authentication.name}">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                더보기
                            </a>
                            <!-- 삭제,수정버튼 -->
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="/qa/qaDeleteComment" method="post" id="commentDeleteForm">
                                        <input type="hidden" name="qaCheckPwInput" th:value="${qaCheckPwInput}">
                                        <input type="hidden" name="commentId" th:value="${comment.commentId}">
                                        <input type="hidden" name="commentNum" th:value="${board.qaBoardNum}">
                                        <button type="button" class="dropdown-item" th:onclick="qaDeleteComment();">삭제</button>
                                    </form>
                                </li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" th:onclick="qaUpdateModal([[${comment.commentContent}]]);">수정</a></li>
                            </ul>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">수정할 내용을 입력해주세요.</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form action="/qa/qaUpdateComment" method="post" id="commentUpdateForm">
                                            <input type="hidden" name="qaCheckPwInput" th:value="${qaCheckPwInput}">
                                            <input type="hidden" name="commentId" th:value="${comment.commentId}">
                                            <input type="hidden" name="commentNum" th:value="${board.qaBoardNum}">
                                            <div class="modal-body">
                                                <!-- 내용 -->
                                                <input type="text" class="form-control" aria-describedby="addon-wrapping" name="commentContent" id="qaCommentInput">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                <button type="button" class="btn btn-primary" th:onclick="qaUpdateComment();">수정하기</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row space-between">
                    <span class="col-10">[[${comment.commentContent}]]</span>
                    <span class="col-2 text-end">[[${comment.commentCreateDate}]]</span>
                </div>
                <hr>
            </div>
        </th:block>
    </table>
    <script src="/js/board/qa/board_detail.js"></script>
</th:block>
</body>
</html>