<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- 썸머노트 -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <form action="/qa/regBoard" method="post" id="qaRegBoard" enctype="multipart/form-data">        
        <div class="row mb-3">
            <div class="text-center">
                <h1>QnA게시판 등록</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <input type="text" class="form-control text-center" id="qaBoardTitle" name="qaBoardTitle" placeholder="제목을 입력해 주세요." required>
            </div>
        </div>
        <div class="row mb-3 error">
            <div class="title-error-div">
                <!-- 에러 출력 -->
            </div>
        </div>

        <div class="col-12">
            <textarea name="qaBoardContent" class="form-control summernote text-left s-note mb-1" id="qaBoardContent" cols="30" rows="10" style="resize: none;"></textarea>
        </div>
        <div class="row mb-3 error">
            <div class="text-error-div">
                <!-- 에러 출력 -->
            </div>
        </div>
        <!-- 첨부파일 -->
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="qaImg" multiple aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">첨부</button>
        </div>
        <div class="row form-check openAndClose">
            <!-- 공개여부 -->
            <div class="col">
                <div class="form-check form-check-inline col-1">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="openAndClose1" value="open" onclick="openAndClose(this)">
                    <label class="form-check-label" for="inlineRadio1">공개</label>
                </div>
                <div class="form-check form-check-inline col-1">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="openAndClose2" value="close" onclick="openAndClose(this)" checked>
                    <label class="form-check-label" for="inlineRadio2">비공개</label>
                </div>
            </div>
            <!-- 비밀번호 input -->
            <div class="col g-3 align-items-center" id="password-onOff">
                <hr>
                <label for="inputPassword6" class="col-form-label">비밀번호 설정</label>
                <input type="password" class="form-control" style="width: 300px;" id="passwordValue">
                <span id="passwordHelpInline" class="form-text">24글자 이내로 입력 해 주세요</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1">
                <input type="button" class="btn btn-primary mb-3 " id="regBoardBtn" value="등록하기" onclick="qaRegValidate()">
            </div>
        </div>
    </form>
    <script src="/js/board/qa_board.js"></script>
</th:block>
</body>
</html>