<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="centerMapper">
    <resultMap id="centerCategory" type="com.green.SecondLife.center.vo.CenterPlaceCategoryVO">
        <id column="CENTER_CATE_CODE"       property="centerCateCode"/>
        <result column="CENTER_CATE_NAME"   property="centerCateName"/>
    </resultMap>

	<resultMap id="facility" type="com.green.SecondLife.center.vo.CenterFacilityVO">
        <id     column="FACILITY_CODE"          property="facilityCode"/>
        <result column="FACILITY_NAME"          property="facilityName"/>
        <result column="FACILITY_CONTENT"       property="facilityContent"/>
        <result column="RENTAL_AVAILABLE"       property="rentalAvailable"/>
        <result column="FACILITY_RENTAL_CHARGE"       property="facilityRentalCharge"/>
        <result column="CENTER_CATE_CODE"       property="centerCateCode"/>
        <result column="FACILITY_PLACE_INFO"    property="facilityPlaceInfo"/>
        <association property="facilityImageVO" resultMap="facilityImage"/>
        <association property="centerPlaceCategoryVO" resultMap="centerCategory"/>
    </resultMap>

    <resultMap id="facilityImage" type="com.green.SecondLife.center.vo.FacilityImageVO">
        <id     column="FACILITY_IMAGE_CODE"         property="facilityImageCode"/>
        <result column="FACILITY_CODE"               property="facilityCode"/>
        <result column="FACILITY_ORIGIN_FILE_NAME"   property="facilityOriginFileName"/>
        <result column="FACILITY_ATTACHED_FILE_NAME" property="facilityAttachedFileName"/>
    </resultMap>

    <!--시설 카테고리 조회-->
    <select id="selectCenterCategory" resultMap="centerCategory">
        SELECT CENTER_CATE_CODE
                , CENTER_CATE_NAME
        FROM CENTER_PLACE_CATEGORY
    </select>

    <!--다음 시설코드 조회-->
    <select id="selectNextFacilityCode" resultType="String">
        SELECT 'FACILITY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FACILITY_CODE, 10))), 0) + 1, 3,'0')
        FROM CENTER_FACILITY
    </select>

    <!--시설 등록-->
    <insert id="insertFacility">
        INSERT INTO CENTER_FACILITY (
            FACILITY_CODE
            , FACILITY_NAME
            , FACILITY_CONTENT
            , RENTAL_AVAILABLE
            , FACILITY_RENTAL_CHARGE
            , CENTER_CATE_CODE
            , FACILITY_PLACE_INFO
        ) VALUES (
            #{facilityCode}
            , #{facilityName}
            , #{facilityContent}
            , #{rentalAvailable}
            , #{facilityRentalCharge}
            , #{centerCateCode}
            , #{facilityPlaceInfo}
        )
    </insert>

    <!--시설 이미지 등록-->
    <insert id="insertFacilityImage">
        INSERT INTO CENTER_FACILITY_IMAGE (
            FACILITY_IMAGE_CODE
            , FACILITY_CODE
            , FACILITY_ORIGIN_FILE_NAME
            , FACILITY_ATTACHED_FILE_NAME
        ) VALUES (
            (SELECT 'FACILITY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FACILITY_CODE, 10))), 0) + 1, 3,'0')||'_IMG'
            FROM CENTER_FACILITY_IMAGE)
            , #{facilityCode}
            , #{facilityImageVO.facilityOriginFileName}
            , #{facilityImageVO.facilityAttachedFileName}
        )
    </insert>

    <!--시설 이미지 삭제-->
    <delete id="deleteFacilityImg">
        DELETE CENTER_FACILITY_IMAGE
        WHERE FACILITY_CODE = #{facilityCode}
    </delete>

    <!--시설관리_시설 조회-->
    <select id="selectAllFacility" resultMap="facility">
        SELECT CENTER_FACILITY.FACILITY_CODE
            , FACILITY_NAME
            , FACILITY_CONTENT
            , FACILITY_PLACE_INFO
            , RENTAL_AVAILABLE
            , FACILITY_RENTAL_CHARGE
            , CENTER_FACILITY.CENTER_CATE_CODE
            , CENTER_CATE_NAME
            , FACILITY_ORIGIN_FILE_NAME
            , FACILITY_ATTACHED_FILE_NAME
        FROM CENTER_FACILITY, CENTER_FACILITY_IMAGE, CENTER_PLACE_CATEGORY
        WHERE CENTER_FACILITY.FACILITY_CODE = CENTER_FACILITY_IMAGE.FACILITY_CODE
        AND CENTER_FACILITY.CENTER_CATE_CODE = CENTER_PLACE_CATEGORY.CENTER_CATE_CODE
        ORDER BY FACILITY_CODE DESC
        OFFSET (#{nowPage} - 1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <!-- 시설관리 - 전체 데이터 수 조회 -->
    <select id="selectFacilityListCnt" resultType="int">
        SELECT COUNT(FACILITY_CODE)
        FROM CENTER_FACILITY
    </select>

    <!--시설관리 - 대관가능유무 상태 변경(비동기통신)-->
    <update id="updateRentalAvailable">
        UPDATE CENTER_FACILITY
        SET RENTAL_AVAILABLE = #{rentalAvailable}
        WHERE FACILITY_CODE = #{facilityCode}
    </update>

    <!--시설관리 - 수정하기-->
    <update id="updateFacility">
        UPDATE CENTER_FACILITY
        SET
            FACILITY_NAME = #{facilityName}
            , FACILITY_CONTENT = #{facilityContent}
            , FACILITY_PLACE_INFO = #{facilityPlaceInfo}
            , FACILITY_RENTAL_CHARGE = #{facilityRentalCharge}
            , CENTER_CATE_CODE = #{centerCateCode}
        WHERE FACILITY_CODE = #{facilityCode}
    </update>

    <!--시설관리 - 삭제하기-->
    <delete id="deleteFacility">
        DELETE CENTER_FACILITY
        WHERE FACILITY_CODE = #{facilityCode}
    </delete>

    <!--첨부파일 이름 조회-->
    <select id="selectCenterImgFileName" resultType="String">
        SELECT FACILITY_ATTACHED_FILE_NAME
        FROM CENTER_FACILITY_IMAGE
        WHERE FACILITY_CODE = #{facilityCode}
    </select>

    <!--(사용자)센터소개 페이지 - 시설 조회(카테고리별)-->
    <select id="selectFacilityInfo" resultMap="facility">
        SELECT CENTER_FACILITY.FACILITY_CODE
            , FACILITY_NAME
            , FACILITY_CONTENT
            , FACILITY_PLACE_INFO
            , CENTER_CATE_CODE
            , FACILITY_ORIGIN_FILE_NAME
            , FACILITY_ATTACHED_FILE_NAME
        FROM CENTER_FACILITY, CENTER_FACILITY_IMAGE
        WHERE CENTER_FACILITY.FACILITY_CODE = CENTER_FACILITY_IMAGE.FACILITY_CODE
        AND CENTER_CATE_CODE = #{centerCateCode}
        ORDER BY FACILITY_CODE DESC
    </select>

    <!-- 시설관리 - 전체 데이터 수 조회 -->
    <select id="selectFacilityGuideCnt" resultType="int">
        SELECT COUNT(FACILITY_CODE)
        FROM CENTER_FACILITY
        WHERE CENTER_CATE_CODE = #{center_cate_code}
    </select>

</mapper>































