<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="centerMapper">
	<resultMap id="facility" type="com.green.SecondLife.center.vo.CenterFacilityVO">
        <id     column="FACILITY_CODE"      property="facilityCode"/>
        <result column="FACILITY_NAME"      property="facilityName"/>
        <result column="MAX_CLASS_CNT"      property="maxClassCnt"/>
        <result column="RENTAL_AVAILABLE"   property="rentalAvailable"/>
        <result column="FACILITY_CONTENT"   property="facilityContent"/>
        <association property="facilityImageVO" resultMap="facilityImage"/>
    </resultMap>

    <resultMap id="facilityImage" type="com.green.SecondLife.center.vo.FacilityImageVO">
        <id     column="FACILITY_IMAGE_CODE"         property="facilityImageCode"/>
        <result column="FACILITY_CODE"               property="facilityCode"/>
        <result column="FACILITY_ORIGIN_FILE_NAME"   property="facilityOriginFileName"/>
        <result column="FACILITY_ATTACHED_FILE_NAME" property="facilityAttachedFileName"/>
    </resultMap>

    <!--시설 등록-->
    <insert id="insertFacility">
        INSERT INTO CENTER_FACILITY (
            FACILITY_CODE
            , FACILITY_NAME
            , MAX_CLASS_CNT
            , RENTAL_AVAILABLE
            , FACILITY_CONTENT
        ) VALUES (
            (SELECT 'FACILITY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FACILITY_CODE, 10))), 0) + 1, 3,'0')
            FROM CENTER_FACILITY)
            , #{facilityName}
            , #{maxClassCnt}
            , #{rentalAvailable}
            , #{facilityContent}
        )
    </insert>

    <!--시설 이미지 등록-->
    <insert id="insertFacilityImage">
        INSERT INTO CENTER_FACILITY_IMAGE (
            FACILITY_IMAGE_CODE
            , FACILITY_CODE
            , FACILITY_ORIGIN_FILE_NAME
            , FACILITY_ATTACHED_FILE_NAME
        ) VALUES (
            (SELECT 'FACILITY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FACILITY_CODE, 10))), 0) + 1, 3,'0')||'_IMG'
            FROM CENTER_FACILITY)
            , #{facilityImageVO.facilityCode}
            , #{facilityImageVO.facilityOriginFileName}
            , #{facilityImageVO.facilityAttachedFileName}
        )
    </insert>

    <!--시설관리_최대 강의 개수 변경-->
    <!--시설관리_대관가능유무 상태변경(비동기통신)-->
    <!--시설관리_삭제하기-->
</mapper>































