<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="communityMapper">
    <!--민원(고객의 소리)-->
    <resultMap id="complaint" type="com.green.SecondLife.community.vo.BoardComplaintListVO">
        <id column="COM_BOARD_NUM" property="comBoardNum"/>
        <result column="COM_BOARD_TITLE" property="comBoardTitle"/>
        <result column="COM_BOARD_CONTENT" property="comBoardContent"/>
        <result column="COM_BOARD_WRITER" property="comBoardWriter"/>
        <result column="COM_CREATE_DATE" property="comCreateDate"/>
    </resultMap>
    <!--이벤트 목록-->
    <resultMap id="event" type="com.green.SecondLife.community.vo.BoardEventListVO">
        <id column="EVENT_BOARD_NUM" property="eventBoardNum"/>
        <result column="EVENT_BOARD_TITLE" property="eventBoardTitle"/>
        <result column="EVENT_BOARD_CONTENT" property="eventBoardContent"/>
        <result column="EVENT_BOARD_WRITER" property="eventBoardWriter"/>
        <result column="EVENT_CREATE_DATE" property="eventCreateDate"/>
    </resultMap>
    <!--자유게시판-->
    <resultMap id="free" type="com.green.SecondLife.community.vo.BoardFreeListVO">
        <id column="FREE_BOARD_NUM" property="freeBoardNum"/>
        <result column="FREE_BOARD_TITLE" property="freeBoardTitle"/>
        <result column="FREE_BOARD_CONTENT" property="freeBoardContent"/>
        <result column="FREE_BOARD_WRITER" property="freeBoardWriter"/>
        <result column="FREE_CREATE_DATE" property="freeCreateDate"/>
        <result column="FREE_BOARD_READ_CNT" property="freeBoardReadCnt"/>
        <collection property="freeBoardComment" resultMap="comment"/><!--comment를 여러개 가지기 위해서-->
    </resultMap>
    <!--갤러리 이미지-->
    <resultMap id="galleryImg" type="com.green.SecondLife.community.vo.BoardGalleryImg">
        <id column="COM_BOARD_NUM" property="comBoardNum"/>
        <result column="COM_BOARD_TITLE" property="comBoardTitle"/>
        <result column="COM_BOARD_CONTENT" property="comBoardContent"/>
        <result column="COM_BOARD_WRITER" property="comBoardWriter"/>
        <result column="COM_CREATE_DATE" property="comCreateDate"/>
    </resultMap>
    <!--갤러리 목록-->
    <resultMap id="galleryList" type="com.green.SecondLife.community.vo.BoardGalleryListVO">
        <id column="COM_BOARD_NUM" property="comBoardNum"/>
        <result column="COM_BOARD_TITLE" property="comBoardTitle"/>
        <result column="COM_BOARD_CONTENT" property="comBoardContent"/>
        <result column="COM_BOARD_WRITER" property="comBoardWriter"/>
        <result column="COM_CREATE_DATE" property="comCreateDate"/>
    </resultMap>
    <!--자유게시판 댓글 목록-->
    <resultMap id="comment" type="com.green.SecondLife.community.vo.BoardCommentListVO">
        <id column="COMMENT_ID" property="commentId"/>
        <result column="COMMENT_CONTENT" property="commentContent"/>
        <result column="COMMENT_WRITER" property="commentWriter"/>
        <result column="COMMENT_CREATE_DATE" property="commentCreateDate"/>
        <result column="COMMENT_NUM" property="commentNum"/>
    </resultMap>
    <!--자유게시판 목록 조회, 검색-->
	<select id="selectFreeBoardList" resultMap="free">
        SELECT FREE_BOARD_NUM
            , FREE_BOARD_TITLE
            , FREE_BOARD_WRITER
            , TO_CHAR(FREE_CREATE_DATE, 'YYYY-MM-DD') FREE_CREATE_DATE
            , FREE_BOARD_READ_CNT
        FROM BOARD_FREE_LIST
        <if test='searchValue != null and !searchValue.equals("")'>
            WHERE UPPER(${searchType}) LIKE '%'||UPPER(#{searchValue})||'%'
        </if>
        ORDER BY FREE_BOARD_NUM DESC
        OFFSET (#{nowPage} - 1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>
    <!--자유게시판 글 등록-->
    <insert id="insertFreeBoard">
        INSERT INTO BOARD_FREE_LIST(
            FREE_BOARD_NUM
            , FREE_BOARD_TITLE
            , FREE_BOARD_CONTENT
            , FREE_BOARD_WRITER
        ) VALUES(
            (SELECT NVL(MAX(FREE_BOARD_NUM), 0) + 1 FROM BOARD_FREE_LIST)
            , #{freeBoardTitle}
            , #{freeBoardContent}
            , #{freeBoardWriter}
        )
    </insert>
    <!--자유게시판 상세 조회-->
    <select id="selectFreeBoardDetail" resultMap="free">
        SELECT FREE_BOARD_NUM
            , FREE_BOARD_TITLE
            , FREE_BOARD_CONTENT
            , FREE_BOARD_WRITER
            , TO_CHAR(FREE_CREATE_DATE, 'YYYY-MM-DD') FREE_CREATE_DATE
            , FREE_BOARD_READ_CNT
        FROM BOARD_FREE_LIST
        WHERE FREE_BOARD_NUM = #{freeBoardNum}
    </select>
    <!--자유게시판 글 삭제, 댓글이 먼저 삭제되고 게시글 삭제 되도록(외래키 오류)-->
    <delete id="deleteFreeBoard">
        DELETE BOARD_FREE_LIST
        WHERE FREE_BOARD_NUM = #{freeBoardNum}
    </delete>
    <!--자유게시판 글 수정-->
    <update id="updateFreeBoard">
        UPDATE BOARD_FREE_LIST
        SET
            FREE_BOARD_TITLE = #{freeBoardTitle}
            , FREE_BOARD_CONTENT = #{freeBoardContent}
        WHERE FREE_BOARD_NUM = #{freeBoardNum}
    </update>
    <!--클릭하면 조회수 1 증가-->
    <update id="updateFreeBoardCnt">
        UPDATE BOARD_FREE_LIST
        SET
            FREE_BOARD_READ_CNT = FREE_BOARD_READ_CNT + 1
        WHERE FREE_BOARD_NUM = #{freeBoardNum}
    </update>
    <!--자유게시판 댓글 조회-->
    <select id="selectFreeBoardComment" resultMap="comment">
        SELECT COMMENT_ID
            , COMMENT_CONTENT
            , COMMENT_WRITER
            , TO_CHAR(COMMENT_CREATE_DATE, 'YYYY.MM.DD. HH24:MI') COMMENT_CREATE_DATE
        FROM BOARD_FREE_COMMENTS
        WHERE COMMENT_NUM = #{freeBoardNum}
    </select>
    <!--자유게시판 댓글 작성-->
    <insert id="insertFreeBoardComment">
        INSERT INTO BOARD_FREE_COMMENTS (
            COMMENT_ID
            , COMMENT_CONTENT
            , COMMENT_WRITER
            , COMMENT_CREATE_DATE
            , COMMENT_NUM
        ) VALUES (
            (SELECT NVL(MAX(COMMENT_ID), 0) + 1 FROM BOARD_FREE_COMMENTS)
            , #{commentContent}
            , #{commentWriter}
            , SYSDATE
            , #{commentNum}
        )
    </insert>
    <!--자유게시판 댓글 삭제-->
    <delete id="deleteFreeBoardComment">
        DELETE BOARD_FREE_COMMENTS
        WHERE COMMENT_ID = #{commentId}
    </delete>

    <!--자유게시판 댓글 수정-->
    <update id="updateFreeBoardComment">
        UPDATE BOARD_FREE_COMMENTS
        SET
            COMMENT_CONTENT = #{commentContent}
        WHERE COMMENT_ID = #{commentId}
    </update>

    <!--메인페이지 자유게시판 목록 조회-->
    <select id="selectMainFreeBoardList" resultMap="free">
        SELECT ROW_NUM
            , FREE_BOARD_NUM
            , FREE_BOARD_TITLE
            , FREE_BOARD_WRITER
            , TO_CHAR(FREE_CREATE_DATE, 'YYYY-MM-DD') FREE_CREATE_DATE
            , FREE_BOARD_READ_CNT
        FROM (
            SELECT ROWNUM AS ROW_NUM
                , FREE_BOARD_NUM
                , FREE_BOARD_TITLE
                , FREE_BOARD_WRITER
                , FREE_CREATE_DATE
                , FREE_BOARD_READ_CNT
            FROM (
                SELECT *
                FROM BOARD_FREE_LIST
                ORDER BY FREE_CREATE_DATE DESC
            )
        )
        WHERE ROWNUM &lt;= 5
    </select>
    <!--게시글 갯수 조회-->
    <select id="selectBoardCnt" resultType="int">
        SELECT COUNT(FREE_BOARD_NUM)
        FROM BOARD_FREE_LIST
    </select>
    <!--내가 쓴 게시글 갯수 조회-->
    <select id="selectMyBoardCnt" resultType="int">
        SELECT COUNT(FREE_BOARD_NUM)
        FROM BOARD_FREE_LIST
        WHERE FREE_BOARD_WRITER = #{freeBoardWriter}
    </select>
    <!--내글 찾기 조회-->
    <select id="selectFreeMyBoard" resultMap="free">
        SELECT FREE_BOARD_NUM
            , FREE_BOARD_TITLE
            , FREE_BOARD_CONTENT
            , FREE_BOARD_WRITER
            , TO_CHAR(FREE_CREATE_DATE, 'YYYY-MM-DD') FREE_CREATE_DATE
            , FREE_BOARD_READ_CNT
        FROM BOARD_FREE_LIST
        WHERE FREE_BOARD_WRITER = #{freeBoardWriter}
        ORDER BY FREE_BOARD_NUM DESC
    </select>
</mapper>


























