<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="instructorMapper">
    <!-- 강사 테이블 -->
	<resultMap id="instructor" type="com.green.SecondLife.instructor.vo.InstructorVO">
        <id column="INSTRUCTOR_CODE"              property="instructorCode"/>
        <result column="LECTURE_EVENT_CODE"       property="lectureEventCode"/>
        <result column="INSTRUCTOR_NAME"          property="instructorName"/>
        <result column="INSTRUCTOR_AGE"           property="instructorAge"/>
        <result column="INSTRUCTOR_GENDER"        property="instructorGender"/>
        <result column="INSTRUCTOR_PHONE"         property="instructorPhone"/>
        <result column="INSTRUCTOR_ADDR"          property="instructorAddr"/>
        <result column="INSTRUCTOR_JOIN_DATE"     property="instructorJoinDate"/>
        <association property="instructorImgVO"   resultMap="instructorImg"/>
        <association property="lectureEventVO"   resultMap="lectureMapper.lectureEvent"/>
    </resultMap>
    <!-- 강사 이미지 테이블 -->
    <resultMap id="instructorImg" type="com.green.SecondLife.instructor.vo.InstructorImgVO">
        <id column="INSTRUCTOR_IMG_CODE"                property="instructorImgCode"/>
        <result column="INSTRUCTOR_CODE"                property="instructorCode"/>
        <result column="INSTRUCTOR_ORIGIN_FILE_NAME"    property="instructorOriginFileName"/>
        <result column="INSTRUCTOR_ATTACHED_FILE_NAME"  property="instructorAttachedFileName"/>
    </resultMap>
    <!-- 강사 등록 기능 -->
    <!-- 1. 관리자용 강사 코드 조회 -->
    <select id="adminSelectNextInstructorCode" resultType="String">
        SELECT 'INSTRUCTOR_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(INSTRUCTOR_CODE, 12))), 0) + 1, 3,'0')
        FROM INSTRUCTOR
    </select>
    <!-- 2. 관리자용 강사 등록 쿼리 -->
    <insert id="adminInsertInstructor">
        INSERT INTO INSTRUCTOR (
            INSTRUCTOR_CODE
            , LECTURE_EVENT_CODE
            , INSTRUCTOR_NAME
            , INSTRUCTOR_AGE
            , INSTRUCTOR_GENDER
            , INSTRUCTOR_PHONE
            , INSTRUCTOR_ADDR
        ) VALUES (
            #{instructorCode}
            , #{lectureEventCode}
            , #{instructorName}
            , #{instructorAge}
            , #{instructorGender}
            ,
            <foreach collection="instructorPhones" item="phone" separator="||'-'||">
                #{phone}
            </foreach>
            ,
            <foreach collection="instructorAddrs" item="addr" separator="||'-'||">
                #{addr}
            </foreach>
        )
    </insert>
    <!-- 3. 관리자용 강사 이미지 등록 -->
    <insert id="adminInsertInstructorImg">
        INSERT INTO INSTRUCTOR_IMG (
            INSTRUCTOR_IMG_CODE
            , INSTRUCTOR_CODE
            , INSTRUCTOR_ORIGIN_FILE_NAME
            , INSTRUCTOR_ATTACHED_FILE_NAME
        ) VALUES (
            (SELECT 'INSTRUCTOR_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(INSTRUCTOR_CODE, 12))), 0) + 1, 3,'0')||'_IMG'
            FROM INSTRUCTOR_IMG)
            , #{instructorCode}
            , #{instructorImgVO.instructorOriginFileName}
            , #{instructorImgVO.instructorAttachedFileName}
        )
    </insert>
    <!-- 관리자용 강사 목록 조회 쿼리 -->
    <select id="adminSelectInstructorList" resultMap="instructor">
        SELECT INS.INSTRUCTOR_CODE
            , INS.LECTURE_EVENT_CODE
            , LECTURE_EVENT_NAME
            , INSTRUCTOR_NAME
            , INSTRUCTOR_AGE
            , INSTRUCTOR_GENDER
            , INSTRUCTOR_PHONE
            , INSTRUCTOR_ADDR
            , TO_CHAR (INSTRUCTOR_JOIN_DATE, 'YYYY-MM-DD') INSTRUCTOR_JOIN_DATE
            , INSTRUCTOR_ATTACHED_FILE_NAME
        FROM INSTRUCTOR INS, INSTRUCTOR_IMG IMG, LECTURE_EVENT EVT
        WHERE INS.INSTRUCTOR_CODE = IMG.INSTRUCTOR_CODE
        AND INS.LECTURE_EVENT_CODE = EVT.LECTURE_EVENT_CODE
    </select>
    <!-- 관리자용 강사 상세 조회 쿼리 -->
    <select id="adminSelectInstructorDetail" resultMap="instructor">
        SELECT INS.INSTRUCTOR_CODE
            , INS.LECTURE_EVENT_CODE
            , LECTURE_EVENT_NAME
            , INSTRUCTOR_NAME
            , INSTRUCTOR_AGE
            , INSTRUCTOR_GENDER
            , INSTRUCTOR_PHONE
            , INSTRUCTOR_ADDR
            , TO_CHAR (INSTRUCTOR_JOIN_DATE, 'YYYY-MM-DD') INSTRUCTOR_JOIN_DATE
            , INSTRUCTOR_ATTACHED_FILE_NAME
        FROM INSTRUCTOR INS, INSTRUCTOR_IMG IMG, LECTURE_EVENT EVT
        WHERE INS.INSTRUCTOR_CODE = #{instructorCode}
        AND INS.INSTRUCTOR_CODE = IMG.INSTRUCTOR_CODE
        AND INS.LECTURE_EVENT_CODE = EVT.LECTURE_EVENT_CODE
    </select>
    <!-- 관리자용 강사 연락처 수정 쿼리 -->
    <update id="adminUpdateInstructorPhone">
        UPDATE INSTRUCTOR
        SET INSTRUCTOR_PHONE = #{instructorPhone}
        WHERE INSTRUCTOR_CODE = #{instructorCode}
    </update>
    <!-- 관리자용 강사 주소 수정 쿼리 -->
    <update id="adminUpdateInstructorAddr">
        UPDATE INSTRUCTOR
        SET INSTRUCTOR_ADDR = #{instructorAddr}
        WHERE INSTRUCTOR_CODE = #{instructorCode}
    </update>
    <!-- 관리자용 강사 삭제 기능 -->
    <delete id="adminDeleteInstructor">
        DELETE INSTRUCTOR
        WHERE INSTRUCTOR_CODE = #{instructorCode}
    </delete>
</mapper>































