<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="lectureMapper">
	<resultMap id="lecture" type="com.green.SecondLife.lecture.vo.LectureVO">
        <id column="LECTURE_CODE"           property="lectureCode"/>
        <result column="LECTURE_TITLE"      property="lectureTitle"/>
        <result column="LECTURE_SUBJECT"    property="lectureSubject"/>
        <result column="LECTURE_STUDENT"    property="lectureStudent"/>
        <result column="LECTURE_PERIOD"     property="lecturePeriod"/>
        <result column="LECTURE_PRICE"      property="lecturePrice"/>
        <result column="INSTRUCTOR_CODE"    property="instructorCode"/>
        <result column="INSTRUCTOR_NAME"    property="instructorName"/>
    </resultMap>
    <!-- 강좌 등록 쿼리 -->
    <insert id="insertLecture">
        INSERT INTO LECTURE (
            LECTURE_CODE
            , LECTURE_TITLE
            , LECTURE_SUBJECT
            , LECTURE_STUDENT
            , LECTURE_PERIOD
            , LECTURE_PRICE
            , INSTRUCTOR_NAME
        ) VALUES (
            (SELECT 'LECTURE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(LECTURE_CODE, 9))), 0) + 1, 3,'0')
            FROM LECTURE)
            , #{lectureTitle}
            , #{lectureSubject}
            , #{lectureStudent}
            , #{lecturePeriod}
            , #{lecturePrice}
            , #{instructorName}
        )
    </insert>
    <!-- 강좌 목록 조회 쿼리-->
    <select id="selectLectureList" resultMap="lecture">
        SELECT LECTURE_CODE
            , LECTURE_TITLE
            , LECTURE_SUBJECT
            , LECTURE_STUDENT
            , LECTURE_PERIOD
            , LECTURE_PRICE
            , INSTRUCTOR_CODE
            , INSTRUCTOR_NAME
        FROM LECTURE
    </select>
    <!-- 강좌 상세 정보 조회 쿼리-->
    <select id="selectLectureDetail" resultMap="lecture">
        SELECT LECTURE_CODE
            , LECTURE_TITLE
            , LECTURE_SUBJECT
            , LECTURE_STUDENT
            , LECTURE_PERIOD
            , LECTURE_PRICE
            , INSTRUCTOR_CODE
            , INSTRUCTOR_NAME
        FROM LECTURE
        WHERE LECTURE_CODE = #{lectureCode}
    </select>
    <!-- 강좌 삭제 기능-->
    <delete id="deleteLecture">
        DELETE LECTURE
        WHERE LECTURE_CODE = #{lectureCode}
    </delete>
</mapper>































