<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="rentalMapper">
	<resultMap id="rentalFacility" type="com.green.SecondLife.rental.vo.RentalFacilityVO">
        <id column="RENTAL_CODE"            property="rentalCode"/>
        <result column="FACILITY_CODE"      property="facilityCode"/>
        <result column="FACILITY_NAME"      property="facilityName"/>
        <result column="RENTAL_DATE"        property="rentalDate"/>
        <result column="RENTAL_TIME_CODE"   property="rentalTimeCode"/>
        <result column="RENTAL_CHARGE"      property="rentalCharge"/>
        <result column="RENTAL_USER"        property="rentalUser"/>
        <result column="RENTAL_TEAM"        property="rentalTeam"/>
        <result column="RENTAL_PURPOSE"     property="rentalPurpose"/>
        <result column="RENTAL_STATUS"      property="rentalStatus"/>
        <collection property="rentalTimeVO" resultMap="rentalTime" />
    </resultMap>

    <resultMap id="rentalTime" type="com.green.SecondLife.rental.vo.RentalTimeVO">
        <id column="RENTAL_TIME_CODE"       property="rentalTimeCode"/>
        <result column="RENTAL_START_TIME"  property="rentalStartTime"/>
        <result column="RENTAL_END_TIME"    property="rentalEndTime"/>
    </resultMap>

    <!-- 대관 가능 정보 조회 -->
    <select id="selectRentalFacility" resultMap="rentalFacility">
        SELECT RENTAL_TIME_CODE
        , RENTAL_START_TIME
        , RENTAL_END_TIME
        , (SELECT RENTAL_CODE
            FROM RENTAL_FACILITY
            WHERE RENTAL_TIME_CODE = TIME.RENTAL_TIME_CODE
            AND RENTAL_DATE = #{rentalDate}
            AND FACILITY_CODE = #{facilityCode}) RENTAL_CODE
        , NVL((SELECT RENTAL_DATE
            FROM RENTAL_FACILITY
            WHERE RENTAL_TIME_CODE = TIME.RENTAL_TIME_CODE
            AND RENTAL_DATE = #{rentalDate}
            AND FACILITY_CODE = #{facilityCode}), #{rentalDate}) RENTAL_DATE
        , (SELECT FACILITY_NAME
            FROM CENTER_FACILITY
            WHERE FACILITY_CODE = #{facilityCode}) FACILITY_NAME
        , (SELECT FACILITY_RENTAL_CHARGE
            FROM CENTER_FACILITY
            WHERE FACILITY_CODE = #{facilityCode}) RENTAL_CHARGE
        , NVL((SELECT RENTAL_USER
            FROM RENTAL_FACILITY
            WHERE RENTAL_TIME_CODE = TIME.RENTAL_TIME_CODE
            AND RENTAL_DATE = #{rentalDate}
            AND FACILITY_CODE = #{facilityCode}), '-') RENTAL_USER
        , NVL((SELECT RENTAL_TEAM
            FROM RENTAL_FACILITY
            WHERE RENTAL_TIME_CODE = TIME.RENTAL_TIME_CODE
            AND RENTAL_DATE = #{rentalDate}
            AND FACILITY_CODE = #{facilityCode}), '-') RENTAL_TEAM
        , NVL((SELECT RENTAL_STATUS
            FROM RENTAL_FACILITY
            WHERE RENTAL_TIME_CODE = TIME.RENTAL_TIME_CODE
            AND RENTAL_DATE = #{rentalDate}
            AND FACILITY_CODE = #{facilityCode}), '0') RENTAL_STATUS
        FROM RENTAL_AVAILABLE_TIME TIME
    </select>

    <!--대관 신청하기-->
    <insert id="insertRentalFacility">
        INSERT INTO RENTAL_FACILITY (
            RENTAL_CODE
            , FACILITY_CODE
            , RENTAL_DATE
            , RENTAL_TIME_CODE
            , RENTAL_CHARGE
            , RENTAL_USER
            , RENTAL_TEAM
            , RENTAL_PURPOSE
            , RENTAL_STATUS
        )
        <foreach index="i" collection="facilityList" item="facility" separator="UNION ALL">
            SELECT
                 #{facility.rentalDate}||'_'||#{facility.rentalTimeCode}
                    , #{facility.facilityCode}
                    , #{facility.rentalDate}
                    , #{facility.rentalTimeCode}
                    , #{facility.rentalCharge}
                    , #{facility.rentalUser}
                    , #{facility.rentalTeam}
                    , #{facility.rentalPurpose}
                    , 1
            FROM DUAL
        </foreach>
    </insert>

    <!--대관 신청하기 시 예약상태 1 로 변경-->
    <!--<update id="updateRentalStatus">
        UPDATE RENTAL_FACILITY
        SET RENTAL_STATUS = 1
        WHERE RENTAL_CODE = #{rentalCode}
    </update>-->

    <!--마이페이지 - 예약 현황 조회-->
    <select id="selectMyRentalList" resultMap="rentalFacility">
        SELECT FACILITY_CODE
                ,(SELECT FACILITY_NAME
                    FROM CENTER_FACILITY
                    WHERE FACILITY_CODE = RENTAL_FACILITY.FACILITY_CODE) FACILITY_NAME
                , RENTAL_DATE
                , RENTAL_AVAILABLE_TIME.RENTAL_START_TIME
                , RENTAL_AVAILABLE_TIME.RENTAL_END_TIME
                , RENTAL_TEAM
                , RENTAL_STATUS
        FROM RENTAL_FACILITY , RENTAL_AVAILABLE_TIME
        WHERE RENTAL_FACILITY.RENTAL_TIME_CODE =  RENTAL_AVAILABLE_TIME.RENTAL_TIME_CODE
        AND RENTAL_USER = #{rentalUser}
    </select>

</mapper>































