@charset "utf-8";
/* admin_instructor_list.css */
h3{
    display: inline-block;
    padding: 8px;
    background-color: palevioletred;
    color: #fff;
    margin-left: 370px;
    margin-bottom: 50px;
}
#instructor-img{
    width: 100px;
    height: 100px;
}
.body-list .top{
    display: inline-block;
    padding: 1px;
    margin-bottom: 10px;
    margin-top: 19px;
    font-size: 13px;
    font-weight: 600;
    color: palevioletred;
    border: 2px solid palevioletred;
}
.event .top, .phone .top, .addr .top, .date .top{
    color: skyblue;
    padding: 1px;
    border: 2px solid skyblue;
    background-color: #fff;
}
.name .bottom, .age .bottom, .gender .bottom, .event .bottom, .addr .bottom, .date .bottom{
    margin-top: 12px;
}
.body-list .bottom{
    font-size: 16px;
    font-weight: 600;
    color: #666;
}
.phone-top, .addr-top{
    display: inline-block;
    color: skyblue;
    padding: 1px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 16px;
    border: 2px solid skyblue;
    background-color: #fff;
}
.phone-edit{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    background-color: rgb(3, 226, 3);
    border-radius: 5px;
    margin-right: -80px;
    margin-left: 40px;
    cursor: pointer;
}
.addr-edit{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    background-color: rgb(3, 226, 3);
    border-radius: 5px;
    margin-right: -125px;
    margin-left: 95px;
    cursor: pointer;
}
.phone-edit:hover, .addr-edit:hover{
    opacity: 0.3;
}
.x-btn:hover{
    width: 30px;
    height: 30px;
}