@charset "utf-8";
/* 강사 등록*/
#h-tree{
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
    background-color: palevioletred;
    padding: 10px;
    margin-left: 250px;
    margin-bottom: 80px;
    color: #fff;
}
#form{
    margin-left: 150px;
    margin-bottom: 80px;
}
#wrap_box{
    display: flex;
}
.wrap.img{
    margin-left: -20px;
}
.wrap.img>p{
    margin-left: -60px;
}
#file{
    display: none;
}
.wrap.img{
    text-align: center;
}
.img-file{
    width: 150px;
    height: 200px;
    border: 1px solid #dee2d6;
    border-radius: 10px;
    cursor: pointer;
}
.file-img{
    margin-left: 5px;
    margin-top: 65px;
    width: 60px;
    height: 60px;
}
.insert_right{
    margin-left: -100px;
}