@charset "utf-8";
/* manage_instructor.css */
.instructor_profil{
    display: flex;
}
.instructor_img{
    margin-right: 70px;
    margin-left: 30px;
}
.instructor_simple_info{
    margin-top: 30px;
}
#simple_profil_title{
    font-weight: 700;
}