<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragment/sub_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment ="content">
  <div class="row">
    <div class="col-12 mb-2">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <!-- <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button> -->
          <button class="nav-link active" onclick="location.href='/center/centerGuide?menuCode=MENU_009';" data-bs-toggle="tab" data-bs-target="#guide-tab">라이프센터</button>
        </li>
        <li class="nav-item" role="presentation" th:each="category : ${categoryList}">
          <!-- <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button> -->
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#guide-tab" th:onclick="categoryTab([[${category.centerCateCode}]])" >[[${category.centerCateName}]]</button>
        </li>
      </ul>
    </div>

    <div class="col-12">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="guide-tab" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <div id="guide-tab-content" class="row mb-2">
            <div class="offset-1 col-5 show active">
              <img width="500px" height="400px" src="/images/center/life_center.jpg" alt="센터이미지">
            </div>
            <div class="col-6">
              <h3>라이프 센터</h3>
              <ul>
                <li><p>준공일 : 2023년 10월 31일</p></li>
                <li><p>위치 : 울산 남구 삼산중로100번길 26</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- 부트스트랩 탭 -->
   <!-- <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs" id="ttab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active"data-bs-toggle="tab" data-bs-target="#1-tab">라이프센터</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#2-tab" >111</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#3-tab" >222</button>
        </li>
      </ul>
    </div>

    <div class="col-12">
      <div class="tab-content" id="ttabContent">
        <div class="tab-pane fade show active" id="1-tab" role="tabpanel" aria-labelledby="home-tab" tabindex="0">111</div>
        <div class="tab-pane fade" id="2-tab" role="tabpanel" aria-labelledby="home-tab" tabindex="0">222</div>
        <div class="tab-pane fade" id="3-tab" role="tabpanel" aria-labelledby="home-tab" tabindex="0">333</div>
      </div>
    </div> -->
  </div>

  <script src="/js/center/center_facility_guide.js"></script>
</th:block>
</body>
</html>