<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../../static/css/board/free_board.css">
</head>
<body>
<th:block layout:fragment="content">
    <h1>게시글 상세 페이지</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                글번호 : [[${board.freeBoardNum}]]
            </div>
            <div class="col">
                제목 : [[${board.freeBoardTitle}]]
            </div>
            <div class="col">
                작성자 : [[${board.freeBoardWriter}]]
            </div>
            <div class="col">
                작성일 : [[${board.freeCreateDate}]]
            </div>
            <div class="col">
                조회수 : [[${board.freeBoardReadCnt}]]
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                내용 : [[${board.freeBoardContent}]]
            </div>
        </div>
    </div>
    <br>
    <div class="detail_btn">
        <input type="button" value="뒤로가기" onclick="location.href='freeBoardList';">
        <!-- 로그인정보가 비어있지 않다면 버튼 보이게 -->
        <div th:if="${session.loginInfo != null}">
            <!-- 작성자가 같거나 관리자라면 -->
            <div th:if="${board.freeBoardWriter == session.loginInfo.memberId or session.loginInfo.memberRoll == 'ADMIN'}">
                <input type="button" value="삭제" th:onclick="|location.href='@{/deleteFreeBoard(freeBoardNum=${board.freeBoardNum})}'|">
                <input type="button" value="수정" th:onclick="|location.href='@{/updateFreeBoardForm(freeBoardNum=${board.freeBoardNum})}'|">
            </div>
        </div>
    </div>
    <hr>
    <h1>댓글작성</h1>
    <div class="input-group mb-3">
        <input type="text" name="commentContent" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" th:onclick="freeRegComment([[${board.freeBoardWriter}]], [[${board.freeBoardNum}]]);">작성</button>
    </div>
    <hr>
    <table border="1" class="text-center">
        <tr>
            <td>번호</td>
            <td>내용</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        <!-- 댓글이 존재하지 않을 때 -->
        <th:block th:if="${#lists.size(comment) == 0}">
            <tr>
                <td colspan="5">조회된 댓글이 없습니다</td>
            </tr>
        </th:block>
        <!-- 댓글이 존재 하면 -->
        <th:block th:if="${#lists.size(comment) != 0}">
            <tr th:each="comment, state : ${comment}">
                <td>[[${comment.commentId}]]</td>
                <td>[[${comment.commentContent}]]</td>
                <td>[[${comment.commentWriter}]]</td>
                <td>[[${comment.commentCreateDate}]]</td>
            </tr>
        </th:block>
    </table>
    <script src="/js/board.js"></script>
</th:block>
</body>
</html>