<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../../static/css/board/free_board.css">
</head>
<body>
<th:block layout:fragment="content">
    <h1>자유게시판</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                글번호 : [[${board.freeBoardNum}]]
            </div>
            <div class="col">
                제목 : [[${board.freeBoardTitle}]]
            </div>
            <div class="col">
                작성자 : [[${board.freeBoardWriter}]]
            </div>
            <div class="col">
                작성일 : [[${board.freeCreateDate}]]
            </div>
            <div class="col">
                조회수 : [[${board.freeBoardReadCnt}]]
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                [[${board.freeBoardContent}]]
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <input type="button" class="btn btn-primary" value="목록으로" onclick="location.href='freeBoardList';">
        <!-- 로그인정보가 비어있지 않다면 버튼 보이게 -->
        <div th:if="${session.loginInfo != null}">
            <!-- 작성자가 같거나 관리자라면 -->
            <div class="btn-group" th:if="${board.freeBoardWriter == session.loginInfo.memberId or session.loginInfo.memberRoll == 'ADMIN'}">
                <input type="button" class="btn btn-primary" value="삭제" th:onclick="|location.href='@{/board/deleteFreeBoard(freeBoardNum=${board.freeBoardNum})}'|">
                <input type="button" class="btn btn-primary" value="수정" th:onclick="|location.href='@{/board/updateFreeBoardForm(freeBoardNum=${board.freeBoardNum})}'|">
            </div>
        </div>
    </div>
    <hr>
    <h1>댓글작성</h1>
    <div class="input-group mb-3">
        <input type="text" name="commentContent" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" th:onclick="freeRegComment([[${board.freeBoardWriter}]], this, [[${board.freeBoardNum}]]);">작성</button>
    </div>
    <hr>
    <table border="1" class="text-center col-12">
        <colgroup>
            <col width="5%">
            <col width="*">
            <col width="20%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <tr>
            <td>번호</td>
            <td>내용</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>삭제</td>
            <td>수정</td>
        </tr>
        <!-- 댓글이 존재하지 않을 때 -->
        <th:block th:if="${#lists.size(comment) == 0}">
            <tr>
                <td colspan="5">조회된 댓글이 없습니다</td>
            </tr>
        </th:block>
        <div class="row">
            <!-- 댓글이 존재 하면 -->
            <th:block th:if="${#lists.size(comment) != 0}" class="row">
                <div th:each="comment, state : ${comment}">
                    <div class="row mb-2">[[${comment.commentWriter}]]</div>
                    <div class="row space-between">
                        <span class="col-10">[[${comment.commentContent}]]</span>
                        <span class="col-2">[[${comment.commentCreateDate}]]</span>
                    </div>
                    <hr>
                </div>
                <!-- ------------------------------------------ -->
                <tr th:each="comment, state : ${comment}">
                    <td>[[${comment.commentId}]]</td>
                    <!-- 실제 댓글 내용 수정 -->
                    <td>[[${comment.commentContent}]]</td>
                    <td>[[${comment.commentWriter}]]</td>
                    <td>[[${comment.commentCreateDate}]]</td>
                    <!-- 관리자 이거나, 작성자라면-->
                    <div th:if="${session.loginInfo != null}">
                        <div th:if="${comment.commentWriter == session.loginInfo.memberId or session.loginInfo.memberRoll == 'ADMIN'}">
                            <td><input class="btn btn-primary" type="button" value="삭제" th:onclick="freeDeleteComment([[${comment.commentId}]], [[${board.freeBoardNum}]])"></td>
                            <td>
                                <!-- 수정버튼누르면 div안에 내용 저장 -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" th:onclick="freeUpdateModal([[${comment.commentContent}]]);">수정</button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">수정할 내용을 입력해주세요.</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- 내용 -->
                                                <input type="text" class="form-control" aria-describedby="addon-wrapping" id="freeCommentInput">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                <button type="button" class="btn btn-primary" th:onclick="freeUpdateComment([[${comment.commentId}]], [[${board.freeBoardNum}]]);">수정하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </tr>
            </th:block>
        </div>
    </table>
    <script src="/js/board.js"></script>
</th:block>
</body>
</html>