<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    글번호 : [[${board.freeBoardNum}]]<br>
    제목 : [[${board.freeBoardTitle}]]<br>
    내용 : [[${board.freeBoardContent}]]<br>
    작성자 : [[${board.freeBoardWriter}]]<br>
    작성일 : [[${board.freeCreateDate}]]<br>
    조회수 : [[${board.freeBoardReadCnt}]]<br>
    <br>
    <input type="button" value="뒤로가기" onclick="location.href='freeBoardList';">
    <!-- 로그인정보가 비어있지 않다면 버튼 보이게 -->
    <div th:if="${session.loginInfo != null}">
        <!-- 작성자가 같거나 관리자라면 -->
        <div th:if="${board.freeBoardWriter == session.loginInfo.memberId or session.loginInfo.memberRoll == 'ADMIN'}">
            <input type="button" value="삭제" th:onclick="|location.href='@{/deleteFreeBoard(freeBoardNum=${board.freeBoardNum})}'|">
            <input type="button" value="수정" th:onclick="|location.href='@{/updateFreeBoardForm(freeBoardNum=${board.freeBoardNum})}'|">
        </div>
    </div>
    댓글작성
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="">작성</button>
    </div>
    <div>
        작성자 : [[${}]]
    </div>
    <hr>
    <script src="/js/board.js"></script>
</th:block>
</body>
</html>