<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <form action="/updateBoard" method="post">
        <input type="hidden" name="freeBoardNum" th:value="${freeBoardNum}">
        제목 : <input type="text" name="freeBoardTitle" th:value="${board.freeBoardTitle}"><br>
        내용 : <textarea rows="5" cols="50" name="freeBoardContent">[[${board.freeBoardContent}]]</textarea><br>
        <input type="submit" value="수정">
    </form>
</th:block>
</body>
</html>