<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/member.css">
        <div class="row">
            <h2>회원 가입</h2>
            <div class="col d-flex justify-content-center">
                <form action="/member/insertMember" method="POST" id="memberJoin">
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" name="memberId" id="memberId" onkeyup="setDisabled();" onblur="checkId();" placeholder="아이디" required> 
                            <div class="row error">
                                <div class="id-error-div">
        
                                </div>
                            </div>

                            <input type="password" class="form-control" name="memberPW" placeholder="비밀번호" autocomplete="off" required>
                            <div class="row error">
                                <div class="pw-error-div">
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" name="memberName" placeholder="이름" required>
                            <div class="row error">
                                <div class="name-error-div">
        
                                </div>
                            </div>

                            <input type="text" class="form-control" name="memberAddr" id="memberAddr" onclick="openPost();" placeholder="주소" readonly required>
                            <div class="row error">
                                <div class="addr-error-div">
        
                                </div>
                            </div>

                            <input type="text" class="form-control" name="addrDetail" id="addrDetail" placeholder="상세 주소">

                            <input type="email" class="form-control" name="memberEmail" placeholder="이메일 aaa@aaa.com 형식">
                            <div class="row error">
                                <div class="email-error-div">
        
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-9">
                            <input type="text" class="form-control" id="memberTel" name="memberTel" placeholder="010 1234 5678" required>
                            <div class="row error">
                                <div class="tel-error-div">
        
                                </div>
                            </div>

                            <input type="text" class="form-control" id="telCheck" name="telCheck" placeholder="인증 번호를 적어주세요">
                            <div class="row error">
                                <div class="tel-check-error-div">
        
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <input type="hidden" id="checkStatus" name="checkStatus" value="0">
                            <input type="button" class="btn btn-outline-primary check-btn-phone" value="인증" onclick="checkPhone();">
                            <input type="button" class="btn btn-outline-primary check-btn" value="확인" onclick="check();">
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-2">
                            <input type="radio" class="form-check-input" name="memberGender" value="남" checked> 남 
                        </div>
                        <div class="col-2">
                            <input type="radio" class="form-check-input" name="memberGender" value="여"> 여 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-9">
                            <input type="button" class="btn btn-primary" id="join-btn" value="회원가입" onclick="joinValidate()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</body>
</html>