<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/sub_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/member.css">
        <div class="row">
            <h2>내 정보 수정</h2>
            <div class="col d-flex justify-content-center">
                <form action="/member/updateMember" method="POST" id="updateJoin">
                    <div class="row mb-3">
                        <div class="col-3">
                            <p>아이디</p>
                            <p>이름</p>
                            <p>성별</p>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="memberId" id="memberId" th:value="${member.memberId}" readonly> 
                            <input type="text" class="form-control" name="memberName" id="memberName" th:value="${member.memberName}" readonly>
                            <input type="text" class="form-control" name="memberGender" id="memberGender" th:value="${member.memberGender}" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input type="password" class="form-control" id="newMemberPW" placeholder="새 비밀번호" autocomplete="off" required>
                            <input type="password-" class="form-control" name="memberPW" id="newMemberPW2" placeholder="비밀번호 확인" autocomplete="off" required>
                            <div class="row mb-3 error">
                                <div class="pw-error-div">
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" name="memberTel" placeholder="01012345678" th:value="${member.memberTel}" required>
                            <div class="row error">
                                <div class="tel-error-div">
        
                                </div>
                            </div>

                            <input type="text" class="form-control" name="memberAddr" placeholder="주소"  id="memberAddr" th:value="${member.memberAddr}" onclick="openPost();" required>
                            <div class="row error">
                                <div class="addr-error-div">
        
                                </div>
                            </div>
                            <input type="text" class="form-control" name="addrDetail" placeholder="상세 주소" id="addrDetail" th:value="${member.addrDetail}">

                            <input type="email" class="form-control" name="memberEmail" placeholder="이메일 aaa@aaa.com" th:value="${member.memberEmail}">
                            <div class="row error">
                                <div class="email-error-div">
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-9">
                            <input type="button" class="btn btn-primary" id="update-btn" value="수정하기" onclick="UpdateValidate()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</body>
</html>