<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<th:block th:fragment="mainHeaderFragment">
    <link rel="stylesheet" href="/css/main_header.css">
    <div class="login-menu">
        <p th:if="${session.loginInfo == null}"> 
            <span class="login-span" onclick="location.href='/member/loginForm'">로그인</span> 
            / 
            <span class="login-span" onclick="location.href='/member/insertMemberForm'">회원가입</span> 
        </p>
        <p th:unless="${session.loginInfo == null}"> 
            [[${session.loginInfo.getMemberName}]]님 어서오세요 
            <span class="login-span" onclick="location.href='/member/logout'">로그아웃</span> 
            / 
            <span class="login-span" onclick="location.href='#'">내 정보</span> 
        </p>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/main_header.js"></script>
</th:block>
</body>
</html>