<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<th:block th:fragment="mainHeaderFragment">
    <!-- 게시판 css -->
    <link rel="stylesheet" href="/css/board/free_board.css">
    <link rel="stylesheet" href="/css/main_header.css">
    <!-- slick 슬라이드 -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" /> 
    <div class="header">
        <div class="menu">
            <div class="left-menu">
                <span class="link-main" onclick="location.href='/'"></span>
                <button onclick="location.href='/rental/test';">대관신청(테스트중)</button>
            </div>
            <div class="login-menu">
                <p th:unless="${session.loginInfo == null}"> 
                    <span class="login-span" th:if="${session.loginInfo.memberRoll == 'ADMIN'}" th:onclick="|location.href='@{/admin/admin_main(menuCode=MENU_000)}'|">관리하기 </span>
                    <span class="login-span" th:if="${session.loginInfo.memberRoll == 'ADMIN'}" onclick="location.href='/member/logout';">로그아웃</span>
                </p>
            </div>
        </div>
        <div class="main-header-menu">
            <div class="banner">
                <img src="/images/head.jpg" alt="">
            </div>
            <ul class="nav nav-underline">
                <li class="nav-item" th:each="mainMenu : ${mainMenuList}">
                    <a class="nav-link" th:href="@{${mainMenu.menuUrl}}">[[${mainMenu.menuName}]]</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- slick 슬라이드 -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
    <!-- 카카오 주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/main_header.js"></script>
    <!-- 게시판 js -->
    <script src="/js/board.js"></script>
</th:block>
</body>
</html>