<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <th:block th:fragment="subsideFragment">
        <div class="side">
            <div class="list-group">
                <a th:href="@{${subMenu.subMenuUrl}(menuCode=${subMenu.menuCode})}" class="list-group-item list-group-item-action" th:each="subMenu : ${subMenuList}">[[${subMenu.subMenuName}]]</a>
            </div>
        </div>
    </th:block>
</body>
</html>