<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/sub_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="team-info">
            <div class="row">
                <div class="col-6 first-team-one">
                    <div class="row">
                        <div class="col-2 team-info-first-img"></div>
                        <div class="col-9">팀원 1의 소개 내역입니다.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 second-team-one">
                    <div class="row">
                        <div class="col-2 team-info-second-img"></div>
                        <div class="col-9">팀원 2의 소개 내역입니다.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 third-team-one">
                    <div class="row">
                        <div class="col-2 team-info-third-img"></div>
                        <div class="col-9">팀원 3의 소개 내역입니다.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 forth-team-one">
                    <div class="row">
                        <div class="col-2 team-info-forth-img"></div>
                        <div class="col-9">팀원 4의 소개 내역입니다.</div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>