@charset "utf-8";
/* admin_lecture_event_list.css */

h3{
    display: inline-block;
    background-color: palevioletred;
    color: #fff;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 400px;
    border-radius: 10px;
}

.img img{
    width: 200px;
    height: 150px;
}
.name .event-name{
    display: inline-block;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: palevioletred;
    border: 2px solid palevioletred;
}
.content .event-content{
    display: inline-block;
    color: skyblue;
    padding: 2px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid skyblue;
    background-color: #fff;
}
.body-list .bottom{
    font-size: 18px;
    font-weight: 700;
    color: #666;
}
.name>div{
    padding-top: 20px;
}
.name .bottom{
    font-size: 23px;
}
.edit{
    display: inline-block;
    padding: 4px;
    font-size: 13px;
    background-color: rgb(13, 241, 13);
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
}
.edit:hover{
    opacity: 0.3;
}