@charset "utf-8";
/* admin_lecture_event_list.css */

h3{
    display: inline-block;
    background-color: palevioletred;
    color: #fff;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 400px;
    border-radius: 10px;
}

.img img{
    width: 200px;
    height: 150px;
}
.body-list .top{
    display: inline-block;
    padding: 1px;
    margin-bottom: 10px;
    margin-top: 19px;
    font-size: 13px;
    font-weight: 600;
    color: palevioletred;
    border: 2px solid palevioletred;
}
.content .top{
    color: skyblue;
    padding: 1px;
    border: 2px solid skyblue;
    background-color: #fff;
}
.body-list .bottom{
    font-size: 18px;
    font-weight: 700;
    color: #666;
}
.name>div{
    padding-top: 20px;
}
.name .bottom{
    font-size: 23px;
}
