@charset "UTF-8";

th{
    border-bottom: 1px solid black;
}

.login-span{
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: space-between;
}

.main-header-menu{
    position: relative;
}
.nav-underline{
    position: absolute;
    top: 20px;
    left: 20px;
}

.error div{
    color:red;
    font-size: 0.8rem;
}
.facility{
    display: flex;
}
.facility .left{
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    background-color: antiquewhite;
}
.left_info{
    position: absolute;
    width: 80px;
    height: 120px;
    top: 50px;
    right: 55px;
}
.facility .right{
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: azure;
}
.right_info{
    position: absolute;
    width: 80px;
    height: 120px;
    top: 50px;
    right: 55px;
}

.lecture{
    background-color: aqua;
}
.board{
    text-align: center;
}
.board .board_title{
    display: block;
    text-align: start;
    margin-bottom: 20px;
}
.board-table{
    width: 80%;
    margin: 0 auto 0 auto;
}
.board-2{
    background-color: chocolate;
}
.board-photo{
    background-color: blueviolet;
}
.link{
    background-color: chartreuse;
}
.footer{
    background-color: lightgrey;
    height: 15rem;
}
.first{
    height: 12rem;
}
.second{
    height: 12rem;
}
.thrid{
    height: 12rem;
}
.forth{
    height: 12rem;
}
