@charset "UTF-8";

th{
    border-bottom: 1px solid black;
}

.link-main{
    display: block;
    cursor: pointer;
    width: 170px;
    height: 50px;
    background-image: url(../images/icons/logo.png);
    background-repeat: no-repeat;
}
.login-span{
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: space-between;
}

.login-area{
    position: relative;
    margin: 20px 0;
    padding: 25px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.main-login-id{
    display: flex;
}
.login-id{
    margin-right: 20px;
}
.login-btn{
    position: absolute;
    top: 25px;
    right: 50px;
    line-height: 4rem;
}
.insert-member{
    display: block;
    margin-left: 10px;
}
.login-name{
    margin: 15px 0;
}
.login-menu{
    display: flex;
    margin: 15px 0;
}
.main-header-menu{
    position: relative;
}
.nav-underline{
    position: absolute;
    padding: 10px 0 10px 0;
    top: 0;
    left: 0;
    width: 1280px;
    background-color: aliceblue;
}

.error div{
    color:red;
    font-size: 0.8rem;
}
.facility{
    display: flex;
}
.facility .left{
    position: relative;
    width: 100%;
    height: auto;
    margin : 25px 10px 15px 0;
    cursor: pointer;
    background-color: antiquewhite;
}
.left_info{
    position: absolute;
    width: 80px;
    height: 120px;
    top: 50px;
    right: 55px;
}
.facility .right{
    position: relative;
    width: 100%;
    height: auto;
    margin : 25px 0 15px 0;
    cursor: pointer;
    background-color: azure;
}
.right_info{
    position: absolute;
    width: 80px;
    height: 120px;
    top: 50px;
    right: 55px;
}

.lecture{
    background-color: aqua;
}
.board{
    text-align: center;
}
.board .board_title{
    display: block;
    text-align: start;
    margin-bottom: 20px;
}
.board-table{
    width: 80%;
    margin: 0 auto 0 auto;
}
.board .board_td_title{
    text-align: start;
}
.board .board-tr{
    cursor: pointer;
    border-bottom: 1px dotted black;
}
.board-2{
    background-color: chocolate;
}
.board-photo{
    background-color: blueviolet;
}
.link{
    background-color: chartreuse;
}
.footer{
    background-color: lightgrey;
    height: 15rem;
}
.first{
    height: 15rem;
    margin-bottom: 10px;
}
.second{
    height: 15rem;
    margin-bottom: 10px;
}
.thrid{
    height: 15rem;
    margin-bottom: 10px;
}
.forth{
    height: 15rem;
    margin-bottom: 10px;
}
