@charset "UTF-8";

th{
    border-bottom: 1px solid black;
}
.admin-main{
    cursor: pointer;
    margin: 40px 0;
}
.admin-img-info{
    display: block;
    text-align: center;
}
.link-main{
    display: block;
    cursor: pointer;
    width: 170px;
    height: 50px;
    background-image: url(../images/icons/logo.png);
    background-repeat: no-repeat;
}
.login-span{
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-between;
}
.main-menu-link{
    margin:0 10px;
}
.login-area{
    position: relative;
    margin: 40px 0;
    padding: 25px 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.main-login-id{
    display: flex;
}
.login-id{
    margin-right: 20px;
}
.login-btn{
    position: absolute;
    top: 25px;
    right: 50px;
    line-height: 4rem;
}
.insert-member{
    display: block;
    margin-left: 10px;
}
.login-name{
    margin: 15px 0;
}
.login-menu{
    display: flex;
    margin-top: 10px;
}
.main-header-menu{
    position: relative;
}
.main-header-menu .banner img{
    width: 1295px;
    height: auto;
}
.sub-header{
    margin: 10px 0;
}
.sub-header-nav-item{
    position: relative;
}
.sub-header-sub-link{
    display: flex;
}
.nav-link {
    color: inherit;
    text-decoration: none;

}
.sub-menu-main-link{
    padding-left: 0;
}
.sub-menu-main-link::after{
    position: absolute;
    display: block;
    content: "";
    top: 15px;
    right: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #121212;
    border-right: 1px solid #121212;
    transform: rotate(45deg);
}
.slide{
    cursor: pointer;
}
.nav-underline{
    position: absolute;
    padding: 10px 0 10px 0;
    top: 0;
    left: 0;
    width: 1295px;
    background-color: aliceblue;
}

.error div{
    color:red;
    font-size: 0.8rem;
}
.link-area{
    display: flex;
    text-align: center;
    margin: 30px 0;
}
.link-area div{
    padding: 37px 46px;
    margin: 20px 12px;
    background-color: rgb(211, 253, 211);
    cursor: pointer;
}
.link-area div:nth-child(even){
    background-color: lightyellow;
}
.link-area div img {
    display: block;
    align-items: center;
}
.facility{
    display: flex;
}
.facility .left{
    position: relative;
    width: 100%;
    height: auto;
    margin : 25px 10px 15px 0;
    cursor: pointer;
    background-color: antiquewhite;
}
.left_info{
    position: absolute;
    width: 80px;
    height: 120px;
    top: 50px;
    right: 55px;
}
.facility .right{
    position: relative;
    width: 100%;
    height: auto;
    margin : 25px 0 15px 0;
    cursor: pointer;
    background-color: azure;
}
.right_info{
    position: absolute;
    width: 80px;
    height: 120px;
    top: 50px;
    right: 55px;
}

.lecture{
    background-color: aqua;
}
.board{
    text-align: center;
}
.board .board_title{
    display: block;
    text-align: start;
    margin-bottom: 20px;
}
.board-table{
    width: 80%;
    margin: 0 auto 0 auto;
}
.board .board_td_title{
    text-align: start;
}
.board .board-tr{
    cursor: pointer;
    border-bottom: 1px dotted black;
}
.main-slide{
    position: relative;
}
.top_banner_prev, .top_banner_next{
    position: absolute;
    top: 60px;
    width: 60px;
    height: 60px;
}
.top_banner_prev{
    left: 0;
    background-image: url(../images/icons/icon-prev.png);
    cursor: pointer;
    opacity: 0.6;
}
.top_banner_next{
    right: 0;
    background-image: url(../images/icons/icon-next.png);
    cursor: pointer;
    opacity: 0.6;
}
.board-photo{
    background-color: blueviolet;
}
.first{
    height: 15rem;
    margin-bottom: 10px;
}
.second{
    height: 15rem;
    margin-bottom: 10px;
}
.thrid{
    height: 15rem;
    margin-bottom: 10px;
}
.forth{
    height: 15rem;
    margin-bottom: 10px;
}
.privacy-title {
    margin-top: 30px;
    margin-bottom: 10px;
}
.privacy-info{
    margin-bottom: 20px;
}
.sitemap-row div{
    margin: 0 0 20px 0;
}
.sitemap-sub-url{
cursor: pointer;
}