@charset "UTF-8";

.login-span{
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.error div{
    color:red;
    font-size: 0.8rem;
}
.facility{
    display: flex;
    justify-content: space-evenly;
}
.facility_info{
    padding: 0 0 0 0;
    margin: 50px 0 20px 0;
    width: 50px;
    height: 50px;
    background-image: url(../images/icons.png);
    background-position: -369px -97px;
    background-repeat: no-repeat;
}
.facility_reservation{
    margin: 56px 0 20px 0;
    width: 57px;
    height: 44px;
    background-image: url(../images/icons.png);
    background-position: -96px -106px;
    background-repeat: no-repeat;
}





.lecture{
    background-color: aqua;
}
.board-1{
    background-color: burlywood;
}
.board-2{
    background-color: chocolate;
}
.board-photo{
    background-color: blueviolet;
}
.link{
    background-color: chartreuse;
}
.footer{
    background-color: lightgrey;
    height: 15rem;
}
.first{
    height: 12rem;
}
.second{
    height: 12rem;
}
.thrid{
    height: 12rem;
}
.forth{
    height: 12rem;
}
