#rental-facility-container{
  position: relative;
}

#facility-tab{
  position: absolute;
  top: 0;
  left: 0;
}

#calendar{
  margin-bottom: 20px;
}

#rental-calendar-table{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#rental-table-title{
  text-align: center;
}

#rental-table{
  position: absolute;
  top: 65px;
  left: 0;
}

/* 캘린더 날짜표시 위치  */
.fc-header-toolbar .fc-toolbar-title {
  margin-left: 95px; 
}

/* 헤더셀 요일표시 - 검정색 */
.fc-col-header-cell-cushion {
  color: black;
  text-decoration: none;
}

/* 일자 요일표시 - 검정색 */
.fc-daygrid-day-number{
  color: black;
  font-size:1em;
  text-decoration: none;
}

/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}
  
/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}

/* 다음달 1주 미리 보이지 않게하기 */
.fc-daygrid-body table tbody tr:last-child{
  display: none;
}

.fc-daygrid-day {
  position: relative;
}

/* 주말 예약가능 처리 */
.fc-day-sun::before, .fc-day-sat::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  content: "예약가능";
  color: red;
  font-size: 0.9rem;
}

.fc-scrollgrid thead .fc-day-sun::before, .fc-scrollgrid thead .fc-day-sat::before{
  display: none;
}

.fc-day-disabled::before {
  display: none;
}


#sign-btn{
  position: absolute;
  bottom: -80px;
  right: 42%;
  width: 100px;
}
.input-n-box{
  border: none;
}

.input-box{
  border: none;
  border-bottom: 1px solid #000;
}
.input-box:focus{
  outline: none;
}