#calendar{
  margin-bottom: 20px;
}

#rentalTable{
  margin-top: 65px;
}

#input-tr{
  width: 100%;
  margin: 0 auto;
}

/* 헤더셀 요일표시 - 검정색 */
.fc-col-header-cell-cushion {
  color: black;
  text-decoration: none;
}

/* 일자 요일표시 - 검정색 */
.fc-daygrid-day-number{
  color: black;
  font-size:1em;
  text-decoration: none;
}

/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}
  
/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}

#sign-btn{
  width: 100px;
  margin-top: 30px;
}
.input-n-box{
  border: none;
}

.input-box{
  border: none;
  border-bottom: 1px solid #000;
}
.input-box:focus{
  outline: none;
}