<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row mb-3 main">
            <div class="col">
                <div class="row mb-3 first">
                    <div class="col-8 board">
                        <span class="board_title"> 현재 신청 가능한 강좌 </span>
                        <table class="board-table">
                            <colgroup>
                                <col width="10%">
                                <col width="*">
                                <col width="15%">
                                <col width="20%">
                                <col width="15%">
                            </colgroup>
                            <tr>
                                <th>강사</th>
                                <th>강좌</th>
                                <th>정원</th>
                                <th>기간</th>
                                <th>수강료</th>
                            </tr>
                            <tr th:each="lecture : ${lectureList}">
                                <td>[[${lecture.instructorName}]]</td>
                                <td>[[${lecture.lectureSubject}]]</td>
                                <td>[[${lecture.lectureStudent}]]</td>
                                <td>[[${lecture.lecturePeriod}]]</td>
                                <td>[[${lecture.lecturePrice}]]</td>
                                <td><input type="submit" value="상세" th:onclick="|location.href='@{/lecture/selectLectureDetail(lectureCode=${lecture.lectureCode})}'|"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-4 facility">
                        <div class="left">
                            <p class="left_info">
                                <img src="/images/icons/building-small.png" alt="">
                                <span>시설 소개</span>
                            </p>
                        </div>
                        <div class="right">
                            <p class="right_info">
                                <img src="/images/icons/buildings.png" alt="">
                                <span>시설</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 second">
                    <div class="col-6 board">
                        <span class="board_title"> 자유 게시판 </span>
                        <table class="board-table">
                            <colgroup>
                                <col width="10%">
                                <col width="*">
                                <col width="15%">
                                <col width="20%">
                                <col width="15%">
                            </colgroup>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                            </tr>
                            <!-- 게시글 없을 때 -->
                            <th:block th:if="${#lists.size(freeBoardList) == 0}">
                                <tr>
                                    <td colspan="5">조회된 게시글이 없습니다</td>
                                </tr>
                            </th:block>
                            <!-- 게시글 있을 때 -->
                            <th:block th:unless="${#lists.size(freeBoardList) == 0}">
                                <tr th:each="freeBoard, state : ${freeBoardList}">
                                    <td>[[${#lists.size(freeBoardList) - state.index}]]</td>
                                    <td>
                                        <a th:href="@{/boardDetail?(freeBoardNum=${freeBoard.freeBoardNum})}">[[${freeBoard.freeBoardTitle}]]</a>
                                    </td>
                                    <td>[[${freeBoard.freeBoardWriter}]]</td>
                                    <td>[[${freeBoard.freeCreateDate}]]</td>
                                    <td>[[${freeBoard.freeBoardReadCnt}]]</td>
                                </tr>
                            </th:block>
                        </table>
                    </div>
                    <div class="col-6 board-2">
                        게시글 2 영역
                    </div>
                </div>
    
                <div class="row mb-3 thrid">
                    <div class="col-12 board-photo">
                        사진 게시글 영역
                    </div>
                </div>
    
                <div class="row mb-3 forth">
                    <div class="col-12 link">
                        각 페이지별 링크 영역
                    </div>
                </div>

            </div>
        </div>
        <div>
            <form action="/freeBoardList" method="post">
                <input type="submit" value="황태현">
            </form>
        </div>
    </th:block> 
</body>
</html>