<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row mb-3 main">
            <div class="col">
                <div class="row first">
                    <div class="col-8 board">
                        <span class="board_title"> 현재 신청 가능한 강좌 </span>
                        <table class="board-table">
                            <colgroup>
                                <col width="15%">
                                <col width="10%">
                                <col width="*">
                                <col width="5%">
                                <col width="28%">
                                <col width="10%">
                            </colgroup>
                            <tr>
                                <th>강사</th>
                                <th>강좌</th>
                                <th>강좌명</th>
                                <th>정원</th>
                                <th>기간</th>
                                <th>수강료</th>
                            </tr>
                            <tr class="board-tr" th:onclick="|location.href='@{/lecture/selectLectureDetail(lectureCode=${lecture.lectureCode})}'|" th:each="lecture : ${lectureList}">
                                <td>[[${lecture.instructorName}]]</td>
                                <td>[[${lecture.lectureSubject}]]</td>
                                <td>[[${lecture.lectureTitle}]]</td>
                                <td>[[${lecture.lectureStudent}]]</td>
                                <td>[[${lecture.lecturePeriod}]]</td>
                                <td>[[${#numbers.formatCurrency(lecture.lecturePrice)}]]</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-4">
                        <p class="main-login-id">
                            아이디 : <input type="text">
                        </p>
                        <p class="main-login-pw">
                            비밀번호 : <input type="text">
                        </p>                        
                        <a href="/member/loginForm" class="login">123</a>
                        <span class="login-span">회원가입</span>
                    </div>
                </div>
                <div class="row second">
                    <div class="col-6 board">
                        <span class="board_title"> 자유 게시판 </span>
                        <table class="board-table">
                            <colgroup>
                                <col width="*">
                                <col width="10%">
                                <col width="20%">
                            </colgroup>
                            <!-- 게시글 없을 때 -->
                            <th:block th:if="${#lists.size(freeBoardList) == 0}">
                                <tr>
                                    <td colspan="5">조회된 게시글이 없습니다</td>
                                </tr>
                            </th:block>
                            <!-- 게시글 있을 때 -->
                            <th:block th:unless="${#lists.size(freeBoardList) == 0}">
                                <tr class="board-tr" th:onclick="|location.href='@{/board/boardDetail(freeBoardNum=${freeBoard.freeBoardNum})}'|" th:each="freeBoard : ${freeBoardList}">
                                    <td class="board_td_title">[[${freeBoard.freeBoardTitle}]]</td>
                                    <td>[[${freeBoard.freeBoardWriter}]]</td>
                                    <td>[[${freeBoard.freeCreateDate}]]</td>
                                </tr>
                            </th:block>
                        </table>
                    </div>
                    <div class="col-6 board-2">
                        게시글 2 영역
                    </div>
                </div>
    
                <div class="row thrid">
                    <div class="col-8 board-photo">
                        사진 게시글 영역
                    </div>
                    <div class="col-4 facility">
                        <div class="left">
                            <p class="left_info">
                                <img src="/images/icons/building-small.png" alt="">
                                <span>센터 소개</span>
                            </p>
                        </div>
                        <div class="right">
                            <p class="right_info">
                                <img src="/images/icons/buildings.png" alt="">
                                <span>시설 대관</span>
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="row forth">
                    <div class="col-12 link">
                        각 페이지별 링크 영역
                    </div>
                </div>

            </div>
        </div>
    </th:block> 
</body>
</html>