<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row mb-3 main">
            <div class="col">
                <div class="row first">
                    <div class="col-8 board">
                        <span class="board_title"> 현재 신청 가능한 강좌 </span>
                        <table class="board-table">
                            <colgroup>
                                <col width="15%">
                                <col width="10%">
                                <col width="*">
                                <col width="5%">
                                <col width="28%">
                                <col width="10%">
                            </colgroup>
                            <tr>
                                <th>강사</th>
                                <th>강좌</th>
                                <th>강좌명</th>
                                <th>정원</th>
                                <th>기간</th>
                                <th>수강료</th>
                            </tr>
                            <tr class="board-tr" th:onclick="|location.href='@{/lecture/selectLectureDetail(lectureCode=${lecture.lectureCode})}'|" th:each="lecture : ${lectureList}">
                                <td></td>
                                <td>[[${lecture.lectureEventCode}]]</td>
                                <td>[[${lecture.lectureTitle}]]</td>
                                <td>[[${lecture.lectureStudent}]]</td>
                                <td>[[${lecture.lecturePeriod}]]</td>
                                <td>[[${#numbers.formatCurrency(lecture.lecturePrice)}]]</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-4">
                        <th:block th:if="${session.loginInfo == null}">
                            <form action="/member/login" method="post">
                                <div class="login-area">
                                    <div class="main-login-id">
                                        <p class="login-id" >
                                            아이디
                                        </p>
                                        <p class="login-id-input">
                                            <input type="text" id="memberId" name="memberId">
                                        </p>
                                    </div>
                                    <p class="main-login-pw">
                                        비밀번호 <input type="password" id="memberPW" name="memberPW" autocomplete="off">
                                    </p>                        
                                    <input type="submit" value="로그인" class="login-btn">
                                    <span class="login-span insert-member" onclick="location.href='/member/insertMemberForm'">&middot; 회원가입</span>
                                </div>
                            </form>
                        </th:block>
                        <th:block th:unless="${session.loginInfo == null}">
                            <div class="login-area">
                                <th:block th:if="${session.loginInfo.memberRoll == 'USER'}">
                                    <div class="login-name">
                                        [[${session.loginInfo.memberName}]]님 어서오세요.
                                    </div>
                                    <div class="login-menu">
                                        <span class="login-span" th:onclick="|location.href='@{/member/updateMemberForm(menuCode=MENU_012)}'|">내 정보 </span>
                                         / 
                                        <span class="login-span" onclick="location.href='/member/logout'"> 로그아웃</span> 
                                    </div>
                                </th:block>
                                <th:block th:unless="${session.loginInfo.memberRoll == 'USER'}">
                                    <div class="login-name">
                                        [[${session.loginInfo.memberName}]]님 어서오세요.
                                    </div>
                                    <div class="login-menu">
                                        <span class="login-span" th:onclick="|location.href='@{/admin/admin_main(menuCode=MENU_000)}'|">관리하기 </span>
                                         / 
                                        <span class="login-span" onclick="location.href='/member/logout'"> 로그아웃</span> 
                                    </div>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="row second">
                    <div class="col-6 board">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab">자유 게시판</button>
                              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab">QnA 게시판</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                <table class="board-table">
                                    <colgroup>
                                        <col width="*">
                                        <col width="10%">
                                        <col width="20%">
                                    </colgroup>
                                    <!-- 게시글 없을 때 -->
                                    <th:block th:if="${#lists.size(freeBoardList) == 0}">
                                        <tr>
                                            <td colspan="5">조회된 게시글이 없습니다</td>
                                        </tr>
                                    </th:block>
                                    <!-- 게시글 있을 때 --> 
                                    <th:block th:unless="${#lists.size(freeBoardList) == 0}">
                                        <tr class="board-tr" th:onclick="|location.href='@{/board/boardDetail(freeBoardNum=${freeBoard.freeBoardNum},menuCode=MENU_007)}'|" th:each="freeBoard : ${freeBoardList}">
                                            <td class="board_td_title">[[${freeBoard.freeBoardTitle}]]</td>
                                            <td>[[${freeBoard.freeBoardWriter}]]</td>
                                            <td>[[${freeBoard.freeCreateDate}]]</td>
                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                                <table class="board-table">
                                    <colgroup>
                                        <col width="*">
                                        <col width="10%">
                                        <col width="20%">
                                    </colgroup>
                                    <!-- 게시글 없을 때 -->
                                    <th:block th:if="${#lists.size(qaBoardList) == 0}">
                                        <tr>
                                            <td colspan="5">조회된 게시글이 없습니다</td>
                                        </tr>
                                    </th:block>
                                    <!-- 게시글 있을 때 -->
                                    <th:block th:unless="${#lists.size(qaBoardList) == 0}" >
                                        <tr class="board-tr" th:each="qaBoard : ${qaBoardList}" th:onclick="|location.href='@{/qa/boardDetail(qaBoardNum=${qaBoard.qaBoardNum},menuCode=MENU_007)}'|">
                                            <td class="board_td_title">[[${qaBoard.qaBoardTitle}]]</td>
                                            <td>[[${qaBoard.qaBoardWriter}]]</td>
                                            <td>[[${qaBoard.qaCreateDate}]]</td>
                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 main-slide">
                        <div class="slide">
                            <div class="slide-1" th:onclick="|@{location.href='/rental/rentalFacility(menuCode=MENU_010)}'|">
                                <img src="/images/main_banner/facility.jpg" alt="">
                            </div>
                            <div class="slide-2" th:onclick="|@{location.href='/board/freeBoardList(menuCode=MENU_007)}'|">
                                <img src="/images/main_banner/board.jpg" alt="">
                            </div>
                            <div class="slide-3">
                                <img src="/images/main_banner/instructor.jpg" alt="">
                            </div>
                            <div class="slide-4">
                                <img src="/images/main_banner/lecture.jpg" alt="">
                            </div>
                        </div>
                        <p class="top_banner_prev"></p>
                        <p class="top_banner_next"></p>
                    </div>
                </div>
    
                <div class="row thrid">
                    <div class="col-8 board-photo">
                        사진 게시판 영역
                    </div>
                    <div class="col-4 facility">
                        <div class="left">
                            <p class="left_info">
                                <img src="/images/icons/building-small.png" alt="">
                                <span>센터 소개</span>
                            </p>
                        </div>
                        <div class="right" th:onclick="|@{location.href='/rental/rentalFacility(menuCode=MENU_010)}'|">
                            <p class="right_info">
                                <img src="/images/icons/buildings.png" alt="">
                                <span>시설 대관</span>
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="row forth">
                    <div class="col-12 link">
                        <div class="link-area">
                            <div onclick="location.href='/instructor/instructorList';">
                                <img src="/images/icons/running.png" alt="">
                                강사 소개
                            </div>
                            <div onclick="location.href=''">
                                <img src="/images/icons/book.png" alt="">
                                수업 신청
                            </div>
                            <div th:onclick="|@{location.href='/rental/rentalFacility(menuCode=MENU_010)}'|">
                                <img src="/images/icons/buildings.png" alt="">
                                시설 대관
                            </div>
                            <div onclick="location.href=''">
                                <img src="/images/icons/board.png" alt="">
                                센터 소개
                            </div>
                            <div th:onclick="|@{location.href='/board/freeBoardList(menuCode=MENU_007)}'|">
                                <img src="/images/icons/community.png" alt="">
                                커뮤니티
                            </div>
                            <div onclick="location.href=''">
                                <img src="/images/icons/warning.png" alt="">
                                고객센터
                            </div>
                            <div onclick="location.href=''">
                                <img src="/images/icons/hire.png" alt="">
                                채용 공고
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </th:block> 
</body>
</html>