<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragment/sub_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment ="content">
    <div class="row">
        <div class="col-12 mb-4">
            <h4>1. 대관 안내</h4>
            <ul>
                <li>대강당, 체육관, 야외구장 등.</li>
                <li>라이프센터 대강당은 부속시설 임대 가능하며 별도 사용료 적용, 타대관시설은 부속시설 임대는 없음</li>
                <li>무대, 조명, 음향 등 공연설비와 고정식(이동식)좌석을 갖춘 대강당시설</li>
                <li>건강/체육/취미/음악연습실 등의 대실은 시설용도 및 사용 기준시간등에 따라 가격 차등 적용하므로 센터에 문의</li>
                <li>강의가 있는 평일을 제외한 공휴일, 주말에 한해 대관 가능</li>
                <li>대관 시설임대 가격은 크기, 시설용도, 사용기준시간 등의 차이가 있어 가격 다름</li>
            </ul>
        </div>
        <div class="col-12 mb-4">
            <h4>2. 대관 절차 안내</h4>
            <ul>
                <li>① 규약 및 준수사항</li>
                <li>② 신청서 작성</li>
                <li>③ 담당자 확인</li>
                <li>④ 대관 심사 후 승인</li>
                <li>⑤ 대관료 입금</li>
                <li>④ 대관일 사용/완료</li>
            </ul>
        </div>
        <div class="col-12 mb-4">
            <h4>3. 대관 제한</h4>
            <ul>
                <li>공익 또는 미풍양속을 해칠 우려가 있을 경우</li>
                <li>시설또는 설비관리에 지장이 있다고 인정될 경우</li>
                <li>기타 상업적 행위 등 센터의 관리상 부적합하다고 인정될 경우</li>
                <li>특정 종교 및 정치적 집회</li>
                <li>시,구</li>
            </ul>
        </div>
        <div class="col-12 mb-4">
            <h4>4. 환불 규정</h4>
            <ul>
                <li>사용자가 이미 납부한 사용료는 미사용을 이유로 반환하지 아니함을 원칙으로 합니다.</li>
                <li>다음 각 호에 해당하는 경우, 전액 반환합니다.</li>
                <li>다음 각 호에 해당하는 경우, 대관사용료를 반환하지 않습니다.</li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>