a{
    text-decoration: none;
    color: #000;
}
.list-select{
    width: 120px;
}
.board-tr{
    cursor: pointer;
    border-bottom: 1px dotted black;
    line-height: 2;
}
.free-table{
    border-bottom: 1px solid black;
}
.free-table-head{
    border-bottom: 1px solid black;
    line-height: 2;
    background-color: rgb(206, 226, 243);
}
.card-title{
    font-size: 18px;
}
/* .s-note{
    resize: none;
    padding: 0;
    background-color: aqua;
} */
.openAndClose{
    padding: 0;
}
.card-img-top{
    background-position: center;
}
.card-img-gal{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 200px;
}
.board-item{
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 6px;
}
.card-body{
    margin: 0 5px;
}
.ellipsis-form{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* ... 표시 */
}

/* 공유하기 */
.link-icon {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-right: 10px;
    padding-top: 50px;
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    text-indent: -99999px;
}
.twitter{
    background-image: url(../../images/icons/icon-twitter.png);
    
}
.facebook{
    background-image: url(../../images/icons/icon-facebook.png);
} 
.kakao{
    background-image: url(../../images/icons/icon-kakao.png);
}