.list-select{
    width: 120px;
}
.board-tr{
    cursor: pointer;
    border-bottom: 1px dotted black;
    line-height: 2;
}
.free-table{
    border-bottom: 1px solid black;
}
.free-table-head{
    border-bottom: 1px solid black;
    line-height: 2;
    background-color: rgb(206, 226, 243);
}
.s-note{
    resize: none;
}
.openAndClose{
    padding: 0;
}