.list-select{
    width: 120px;
}
.board-tr{
    cursor: pointer;
    border-bottom: 1px dotted black;
}
.free-table{
    border-bottom: 1px solid black;
}
.free-table-head{
    border-bottom: 1px solid black;
}