@charset "UTF-8";
.admin-manage p{
    margin: 0;
}
input::placeholder {
    color: #6d6d6d8a;
}
.check-btn{
    display: none;
}

#memberJoin, #updateJoin{
    width: 400px;
}
.member-all{
    margin-bottom: 50px;
}
.admin-manage{
    text-align: center;
    align-items: center;
    height: 200px;
}
.admin-manage>div:nth-child(n+2){
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
    width: 100%;
}
.admin-manage>div:last-child{
    border-bottom: 1px solid black;
}
.admin-manage-member-title{
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
    width: 100%;
}
.admin-manage-member-info{
    padding: 5px 0;
}
.manage-member-id{
    width: 10%;
}
.manage-member-name{
    width: 10%;
}
.manage-member-tel{
    width: 15%;
}
.manage-member-addr{
    width: 35%;
}
.admin-manage-member-info .manage-member-addr{
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.manage-member-email{
    width: 20%;
}
.manage-member-gender{
    width: 5%;
}
.manage-member-delete{
    width: 5%;
}
.admin-manage-member-info .manage-member-delete{
    cursor: pointer;
}
.admin-manage-member-info #memberName{
    width: 5rem;
}
.admin-manage-member-info #memberTel{
    width: 9rem;
}
.admin-manage-member-info #memberEmail{
    width: 15rem;
}
.admin-manage-member-info #memberAddr{
    width: 29rem; 
}
.admin-manage-member-info #memberGender{
    width: 3rem;
}
