@charset "utf-8";
/* admin_insert_lecture_form.css */
.wrap{
    margin-left: 120px;
}
h3{
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    margin-left: 250px;
    margin-bottom: 50px;
    background-color: palevioletred;
    color: #fff;
}
.caption{
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 13px;
    background-color: #000;
    border-radius: 10px;
    padding: 5px;
}
.submit-btn{
    padding-top: 7px;
    width: 150px;
    height: 60px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    background-color: palevioletred;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 601px;
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.5;
}
.startDate{
    font-size: 12px;
    color: blue;
    border: 1px solid blue;
}
.finishDate{
    font-size: 12px;
    color: red;
    border: 1px solid red;
}